{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <a href="../index" class="govuk-back-link" style="margin-top:-20px;">Back</a>

       

      <h1 class="govuk-heading-l">
       V4
      </h1>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a href="main-menu">Health Assessment Service main menu</a>
           </li>
          
      </ul>

      <h1 class="govuk-heading-s">
        Jump to availability section:
       </h1>


     
        <p> <a href="availability-management/manage-select">    Availability: Manage agents and availability </a></p>
         


        <h1 class="govuk-heading-s">
          Additional:
         </h1>
  
  
         <p> <a href= "more-slots" >Broken down slots </a></p>

         <p> <a href= "tabbed-design" > Tabbed design </a></p>

         <p> <a href= "tabbed-design-more-slots" > Tabbed design: broken down slots </a></p>
           
  
          <p> Mural board:<a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1699875517829/fcf91c0435edae84cfaaed2316b8b7ef6af758cf?sender=ud4a19292836eae9ff0f49718" target="_blank"> proposal for choosing agent in appointment journey </a></p>
           
  




     

    </div>
  </div>


        </main>
      </div>


      {% endblock %}

