{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
    <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
    <h1 class="govuk-heading-l">
      Appointment availability
    </h1>


    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous week</span></a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="next"> <span class="govuk-pagination__link-title">Next week</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>


    <form class="form" action="check-answers" method="post">
    <div class="govuk-tabs " data-module="govuk-tabs">
      <ul class="govuk-tabs__list " role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#monday" id="tab_monday" role="tab" aria-controls="monday" aria-selected="true" tabindex="0">
            <strong>Monday</strong><br>
            6 Nov 2023<br><br>
           
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#tuesday" id="tab_tuesday" role="tab" aria-controls="tuesday" aria-selected="false" tabindex="-1">
            <strong>Tuesday</strong><br>
            7 Nov 2023<br><br>
           
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#wednesday" id="tab_wednesday" role="tab" aria-controls="wednesday" aria-selected="false" tabindex="-1">
            <strong>Wednesday</strong><br>
            8 Nov 2023<br><br>
           
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#thursday" id="tab_thursday" role="tab" aria-controls="thursday" aria-selected="false" tabindex="-1">
            <strong>Thursday</strong><br>
            9 Nov 2023<br><br>
           
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#friday" id="tab_friday" role="tab" aria-controls="friday" aria-selected="false" tabindex="-1">
            <strong>Friday</strong><br>
            10 Nov 2023<br><br>
            
          </a>
        </li>

        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#saturday" id="tab_saturday" role="tab" aria-controls="saturday" aria-selected="false" tabindex="-1">
            <strong>Saturday</strong><br>
            11 Nov 2023<br><br>
            
          </a>
        </li>

        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#sunday" id="tab_suday" role="tab" aria-controls="sunday" aria-selected="false" tabindex="-1">
            <strong>Sunday</strong><br>
            12 Nov 2023<br><br>
            
          </a>
        </li>

      </ul>

      <!-- Day one-->
        <div class="govuk-tabs__panel" id="monday" role="tabpanel" aria-labelledby="tab_monday">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Monday morning</h3>
            </div>

  <div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        9am to 10 am 
      </h1>
    </legend>
  
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-bottom: none;" >
      
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
          <li>Amy Gill</li>
        
          <li>Benjamin Marshall</li>
        
          <li>Bernhard Fischer</li>
        
          <li>Danny Zuko</li>
        
        
        
          <li>Julie Smails</li>
        
          <li>Monica Anyanwu</li>
        
          <li>Raka Banerjee</li>
        
        


        
        </ul></dd>

        </div>
        
        <div class="govuk-summary-list__row" style="border-bottom: none;" >
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href=" ">
              Change 
              </a>
          </li>
        </dd>
      </div>
    
    
    
    </dl>


  </fieldset>
  </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      10am to 11am
      </h1>
    </legend>
    

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-bottom: none;" >
      
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet">
          <li>Amy Gill</li>
        
          <li>Benjamin Marshall</li>
        
          <li>Bernhard Fischer</li>
        
        
        
        
        
        


        
        </ul></dd>
</div>

<div class="govuk-summary-list__row" style="border-bottom: none;" >
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href=" ">
              Change 
              </a>
          </li>
        </dd>
      </div>
    
    
    
    </dl>


    </div>

  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
        11am to 12am
        </h1>
      </legend>
      
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row" style="border-bottom: none;" >
        
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
            <li>Amy Gill</li>
          
            <li>Benjamin Marshall</li>
          
            <li>Bernhard Fischer</li>
          
          
          
          
          
          
  
  
          
          </ul></dd></div>
          
          <div class="govuk-summary-list__row" style="border-bottom: none;" >
  
          <dd class="govuk-summary-list__value" style="width:10%;"> 
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href=" ">
                Change 
                </a>
            </li>
          </dd>
        </div>
      
      
      
      </dl>
  
  
      </div>
  
    </div>

  
  </div>






  <!-- afternoon-->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Monday afternoon</h3>
    </div>

<div class="govuk-grid-column-one-quarter">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
<h1 class="govuk-fieldset__heading">
1pm to 2pm
</h1>
</legend>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row" style="border-bottom: none;" >

<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
  <li>Amy Gill</li>

  <li>Benjamin Marshall</li>

  <li>Bernhard Fischer</li>

  <li>Danny Zuko</li>



  <li>Julie Smails</li>

  <li>Monica Anyanwu</li>

  <li>Raka Banerjee</li>





</ul></dd>

</div>

<div class="govuk-summary-list__row" style="border-bottom: none;" >
  <li class="govuk-summary-list__actions-list-item">
    <a class="govuk-link" href=" ">
      Change 
      </a>
  </li>
</dd>
</div>



</dl>


</fieldset>
</div>
</div>

<div class="govuk-grid-column-one-quarter">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
<h1 class="govuk-fieldset__heading">
2pm to 3pm
</h1>
</legend>


<dl class="govuk-summary-list">
<div class="govuk-summary-list__row" style="border-bottom: none;" >

<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
  <li>Amy Gill</li>

  <li>Benjamin Marshall</li>

  <li>Bernhard Fischer</li>









</ul></dd>
</div>

<div class="govuk-summary-list__row" style="border-bottom: none;" >
  <li class="govuk-summary-list__actions-list-item">
    <a class="govuk-link" href=" ">
      Change 
      </a>
  </li>
</dd>
</div>



</dl>


</div>

</div>

<div class="govuk-grid-column-one-quarter">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
<h1 class="govuk-fieldset__heading">
3pm to 4pm
</h1>
</legend>


<dl class="govuk-summary-list">
<div class="govuk-summary-list__row" style="border-bottom: none;" >

  <dd class="govuk-summary-list__value">
    <ul class="govuk-list govuk-list--bullet">
    <li>Amy Gill</li>
  
    <li>Benjamin Marshall</li>
  
    <li>Bernhard Fischer</li>
  
  
  
  
  
  


  
  </ul></dd></div>
  
  <div class="govuk-summary-list__row" style="border-bottom: none;" >

  <dd class="govuk-summary-list__value" style="width:10%;"> 
    <li class="govuk-summary-list__actions-list-item">
      <a class="govuk-link" href=" ">
        Change 
        </a>
    </li>
  </dd>
</div>



</dl>


</div>

</div>

<div class="govuk-grid-column-one-quarter">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  <h1 class="govuk-fieldset__heading">
4pm to 5pm
  </h1>
</legend>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row" style="border-bottom: none;" >
  
    <dd class="govuk-summary-list__value">
      <ul class="govuk-list govuk-list--bullet">
      <li>Amy Gill</li>
    
      <li>Benjamin Marshall</li>
    
      <li>Bernhard Fischer</li>
    
    
    
    
    
    


    
    </ul></dd>
    </div>

    <div class="govuk-summary-list__row" style="border-bottom: none;" >
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href=" ">
          Change 
          </a>
      </li>
    </dd>
  </div>



</dl>


</div>

</div>
</div>




        </div>

        <!--eND OF DAY 1 -->

        <!-- day 2-->

        <div class="govuk-tabs__panel" id="tuesday" role="tabpanel" aria-labelledby="tab_tuesday">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Tuesday morning</h3>
            </div>

  <div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        9am to 10 am 
      </h1>
    </legend>
  
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-bottom: none;" >
      
        <dd class="govuk-summary-list__value">
           
            
          
          
          No availability added
      


      
      </dd></div>
      
      <div class="govuk-summary-list__row" style="border-bottom: none;" >

      <dd class="govuk-summary-list__value" style="width:10%;"> 
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href=" ">
         Add
              </a>
          </li>
        </dd>
      </div>
    
    
    
    </dl>


  </fieldset>
  </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      10am to 11am
      </h1>
    </legend>
    

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-bottom: none;" >
      
          <dd class="govuk-summary-list__value">
           
            
          
          
            No availability added
        


        
        </dd></div>
        
        <div class="govuk-summary-list__row" style="border-bottom: none;" >

        <dd class="govuk-summary-list__value" style="width:10%;"> 
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href=" ">
           Add
              </a>
          </li>
        </dd>
      </div>
    
    
    
    </dl>


    </div>

  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
        11am to 12am
        </h1>
      </legend>
      
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row" style="border-bottom: none;" >
        
          <dd class="govuk-summary-list__value">
           
            
          
          
              No availability added
          
  
  
          
          </dd></div>
          
          <div class="govuk-summary-list__row" style="border-bottom: none;" >
  
          <dd class="govuk-summary-list__value" style="width:10%;"> 
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href=" ">
             Add
                </a>
            </li>
          </dd>
        </div>
      
      
      
      </dl>
  
  
      </div>
  
    </div>
  
  
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">Tuesday afternoon</h3>
          </div>

<div class="govuk-grid-column-one-quarter">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
     1pm to 2pm
    </h1>
  </legend>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" style="border-bottom: none;" >
    
      <dd class="govuk-summary-list__value">
         
          
        
        
        No availability added
    


    
    </dd></div>
    
    <div class="govuk-summary-list__row" style="border-bottom: none;" >

    <dd class="govuk-summary-list__value" style="width:10%;"> 
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href=" ">
       Add
            </a>
        </li>
      </dd>
    </div>
  
  
  
  </dl>


</fieldset>
</div>
</div>

<div class="govuk-grid-column-one-quarter">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
    2pm to 3pm
    </h1>
  </legend>
  

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" style="border-bottom: none;" >
    
        <dd class="govuk-summary-list__value">
         
          
        
        
          No availability added
      


      
      </dd></div>
      
      <div class="govuk-summary-list__row" style="border-bottom: none;" >

      <dd class="govuk-summary-list__value" style="width:10%;"> 
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href=" ">
         Add
            </a>
        </li>
      </dd>
    </div>
  
  
  
  </dl>


  </div>

</div>

<div class="govuk-grid-column-one-quarter">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      3pm to 4pm
      </h1>
    </legend>
    

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" style="border-bottom: none;" >
      
        <dd class="govuk-summary-list__value">
         
          
        
        
            No availability added
        


        
        </dd></div>
        
        <div class="govuk-summary-list__row" style="border-bottom: none;" >

        <dd class="govuk-summary-list__value" style="width:10%;"> 
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href=" ">
           Add
              </a>
          </li>
        </dd>
      </div>
    
    
    
    </dl>


    </div>

  </div>


  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
        3pm to 4pm
        </h1>
      </legend>
      
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row" style="border-bottom: none;" >
        
          <dd class="govuk-summary-list__value">
           
            
          
          
              No availability added
          
  
  
          
          </dd></div>
          
          <div class="govuk-summary-list__row" style="border-bottom: none;" >
  
          <dd class="govuk-summary-list__value" style="width:10%;"> 
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href=" ">
             Add
                </a>
            </li>
          </dd>
        </div>
      
      
      
      </dl>
  
  
      </div>
  
    </div>

</div>


</div>

    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous week</span></a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="next"> <span class="govuk-pagination__link-title">Next week</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>




      
    </div>
  </div>

  </main>
</div>



{% endblock %}
