{% extends "layouts/main.html" %}



{% block pageTitle %}
Select HCP - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-three-quarters">

    <a href="check-answers" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

   
      <form class="form" action="check-answers" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">Wed 7 Dec 2024, 11am</span>
              <h1 class="govuk-fieldset__heading">
                Select the HCP
              </h1>
              
            </legend>


        

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row" >
                   
                   

                        
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item" >
                    



                
                      <th scope="col" class="govuk-table__header" ></th>
                     </div>
              <th scope="col" class="govuk-table__header" style="width: 30%;">Name</th>
            
              <!-- <th scope="col" class="govuk-table__header" style="width: 33%;">Work location</th>  -->
           
              <th scope="col" class="govuk-table__header" style="width: 30%;">Available for</th>

              <th scope="col" class="govuk-table__header" style="width: 40%;">Booked appointments on this day</th>
              
            </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row" >
                  <td class="govuk-table__cell">
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" style="margin-top:-7px;">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="select-hcp-01" name="select-hcp" type="radio" value="Amy Gill" checked>
                        <label class="govuk-label govuk-radios__label" for="select-hcp-01">
                         
                        </label>
                      </div>
                      </div>
                      </td>
            

                 
                    <td class="govuk-table__cell">Amy Gill</td>
                  
                    <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                  
                    <td class="govuk-table__cell">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>PIP F2F </li>
                        <li>  PIP TA</li> 
                       <li>   WCA CN</li> 
                       <li>    WCA F2F</li> 
                         <li> WCA TA</li> 
                        
                      </ul>
                  </td>


                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                    
                      <li> 2 PIP TA (1 with translator)</li> 
                    
                      
                    </ul>
                </td>

                  </tr>


                 
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" style="margin-top:-7px;">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="select-hcp-02" name="select-hcp" type="radio" value="Benjamin Marshall">
                        <label class="govuk-label govuk-radios__label" for="select-hcp-02">
                         
                        </label>
                      </div>
                      </div>
                      </td>
            
                  <td class="govuk-table__cell">Benjamin Marshall</td>
               
                  <!-- <td class="govuk-table__cell"> Working from home </td> -->
                 
                   <td class="govuk-table__cell">
                    
                    <ul class="govuk-list govuk-list--bullet">
                      
                      <li>WCA TA</li>
                     </ul>
                  </td>


                  <td class="govuk-table__cell">
                   <p> No appointments booked</p>
                      
                    
                      
                    </ul>
                </td>
      
      
                </tr>

               

                 

                  
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" style="margin-top:-7px;">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="select-hcp-06" name="select-hcp" type="radio" value="Frieda Döring">
                            <label class="govuk-label govuk-radios__label" for="select-hcp-06">
                             
                            </label>
                          </div>
                          </div>
                          </td>
                
                      <td class="govuk-table__cell">Frieda Döring</td>
                     
                      <!-- <td class="govuk-table__cell"> Working from home </td> -->
                    
                      <td class="govuk-table__cell">  
                    
                      <ul class="govuk-list govuk-list--bullet">
                      
                      
                     
                        <li>WCA TA</li>
                       </ul>
          
                      </td>

                      <td class="govuk-table__cell">
                        <p> No appointments booked</p>
                           
                         
                           
                         </ul>
                     </td>


                    </tr>

                 

                    


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" style="margin-top:-7px;">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="select-hcp-09" name="select-hcp" type="radio" value="Joe Bloggs">
                            <label class="govuk-label govuk-radios__label" for="select-hcp-09">
                             
                            </label>
                          </div>
                          </div>
                          </td>
                
                      <td class="govuk-table__cell">Joe Bloggs</td>
               
                      <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                    
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                          
                         <li>WCA CN</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
          
                      </td>

                      <td class="govuk-table__cell">
                        <ul class="govuk-list govuk-list--bullet">
                       
                          <li> 1 WCA TA (with translator)</li> 
                        
                          
                        </ul>
                           
                         
                           
                         </ul>
                     </td>
                    </tr>

            


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios" style="margin-top:-7px;">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="select-hcp-11" name="select-hcp" type="radio" value="Monica Anyanwu">
                            <label class="govuk-label govuk-radios__label" for="select-hcp-11">
                             
                            </label>
                          </div>
                          </div>
                          </td>
                
                      <td class="govuk-table__cell">Monica Anyanwu </td>
                  
                      <!-- <td class="govuk-table__cell"> Working from home </td> -->
                      
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                        
                         
                          <li>WCA TA</li>
                         </ul>
          
                      </td> 


                      <td class="govuk-table__cell">
                        <p> No appointments booked</p>
                           
                         
                           
                         </ul>
                     </td>


                    </tr>

                      

                     



                 
                  
                </tbody>
              </table>
           



           

          <br>
          <br>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="check-answers">Cancel</a>
          </div>
      </div>
    </div>
  </main>
</div>



{% endblock %}
