{% extends "layouts/main.html" %}



{% block pageTitle %}
HCP appointments - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
   

    <div class="govuk-width-container ">
        
      <main class="govuk-main-wrapper " id="main-content" role="main">
        
    <div class="app-pane__body">

      <div class="app-pane__subnav">
        <a href="agent-profiles" class="govuk-back-link">Back</a>

      

              <ul class="app-subnav__section">
    
                <li class="app-subnav__section-item">
                  <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="amy-gill-profile">HCP details<i class="chevron2"></i> </a>
                  </li>
    
            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Appointments<i class="chevron"></i> </a>
</li>

<!-- 
<li class="app-subnav__section-item">
  <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="amy-gill-availability">Availability<i class="chevron2"></i> </a>
  </li> -->

        </ul></nav>
      </div>
   

    <div class="govuk-grid-row  overview">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="width:73%;">

   <h1 class="govuk-heading-l">
    Amy Gill's appointments 

    </h1>
    
   

    <h2 class="govuk-heading-m">Today's appointments </h2>
    {% if  (data['agent-appt']  != 'agent-cancelled')  and (data['hcp'] == 'Amy Gill')  %}

    
              
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant</th>
          <th scope="col" class="govuk-table__header">Benefit</th>
          <th scope="col" class="govuk-table__header">Date and time</th>
        
          <th scope="col" class="govuk-table__header">Type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="../appointments/view-assessment01" aria-describedby="claimant-detail-assined">Jane Doe</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell">Wed 7 August 2023, 11am</td>
         
          <td class="govuk-table__cell">Face to face</td>
        </tr>
      </tbody>
    </table>
              
    {% else %}

    <p>There are no appointments scheduled today.</p>
    {% endif %} 
    <h2 class="govuk-heading-m">Upcoming appointments</h2>
            
          
    
    {% if  (data['hcp2'] == 'Amy Gill') or (data['hcp3'] == 'Amy Gill') or (data['hcp4'] == 'Amy Gill') %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant</th>
          <th scope="col" class="govuk-table__header">Benefit</th>
          <th scope="col" class="govuk-table__header">Date and time</th>
        
          <th scope="col" class="govuk-table__header">Type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        {% else %}

        <p>There are no upcoming appointments scheduled.</p>
        {% endif %} 


     
       
      
       {% if  data['hcp2']  == 'Amy Gill'  %}


        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="view-assessment02" aria-describedby="claimant-detail-assined">Noelle Carmel</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell">Thu 8 August 2023, 9am</td>
         
          <td class="govuk-table__cell">Telephone</td>
        </tr>

        {% endif %} 

        {% if  data['hcp3']  == 'Amy Gill'  %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="view-assessment03" aria-describedby="claimant-detail-assined">Lucy Steel</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell">Mon 18 August 2023, 9am</td>
         
          <td class="govuk-table__cell">Telephone</td>
        </tr>


        {% endif %} 

        {% if  data['hcp4']  == 'Amy Gill'  %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="view-assessment04" aria-describedby="claimant-detail-assined">Rachel Brown</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell">Tue 19 August 2023, 1pm</td>
         
          <td class="govuk-table__cell">Telephone</td>
        </tr>
        {% endif %} 

      </tbody>
    </table>


        
      </div>

    <!--    <div class="govuk-grid-column-one-third" style="margin-top: -0px; width:27%;">
      <h2 class="govuk-heading-m" id="subsection-title">
          Other actions
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href=" ">Reassign appointments</a>
            </li>
            <li>
              <a href="">Cancel appointments</a>
            </li>
          </ul>   
        
      </div> -->

      
    
    
    </div>


    </div>

</div>

      </div></main>
    


{% endblock %}

