{% extends "layouts/main.html" %}



{% block pageTitle %}
Appointment details - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-assessment-booked.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    
  
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
     
      
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Appointment details
            </h1>
          </legend>

          
          {% if  data['apptbooked']   == 'cancelled' %}

          <div class="govuk-inset-text">
            You cannot change this appointment as it is a previous appointment</div>

          
          <br>

          {% endif %} 
    
      
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Assessment centre
                </dt>
                <dd class="govuk-summary-list__value">
                  Birmingham, Handsworth
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
          
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit
                </dt>
                <dd class="govuk-summary-list__value">
                 UC
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
  
  
  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Appointment type
                </dt>
                <dd class="govuk-summary-list__value">
                
                
                  {% if  data['assessment-channel'] %}
                  {{ data['assessment-channel'] }}
                 {% else %}
              Face to face
                 {% endif %}
                 
                 

                  
                </dd>
               <!--  <dd class="govuk-summary-list__actions">
                  {% if  data['apptbooked']   == 'yes' %}  <a class="govuk-link" href="assessment-channel">
                    Change<span class="govuk-visually-hidden"> the appointment type</span>
                  </a> {% endif %} 
                </dd> -->
              </div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  WCA complex neuro
                </dt>
                <dd class="govuk-summary-list__value">
                Yes
                </dd>
               <!--  <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="wca-complex-neuro">
                    Change<span class="govuk-visually-hidden"> whether case is complex neuro</span>
                  </a>
                 
                </dd> -->
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                 Wed 7 August 2023, 11am
                </dd>
              <!--   <dd class="govuk-summary-list__actions">
                  {% if  data['apptbooked']   == 'yes' %}  <a class="govuk-link" href="app-date-time">
                    Change<span class="govuk-visually-hidden">appointment date and time</span>
                  </a>
                  {% endif %}
                </dd> -->
              </div>
        
  
            
        
            
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  HCP
                </dt>
                <dd class="govuk-summary-list__value">
                 
                
                
                
                  {% if  data['hcp'] %}
                  {{ data['hcp'] }}
                 {% else %}
                 Amy Gill
                 {% endif %}
                 
                
                  
                </dd>
              
  
                <dd class="govuk-summary-list__actions">
                  {% if  data['apptbooked']   == 'yes' %}  <a class="govuk-link" href="../availability-management/appointments/choose-hcp">
                    Change<span class="govuk-visually-hidden"> any additional information</span>
                  </a>
                  {% endif %}
                </dd> 
              </div>
  
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional information
                </dt>
                <dd class="govuk-summary-list__value">
                  
  
                  {% if  data['more-detail'] %}
                  {{ data['more-detail'] }}
                 {% else %}
                 None
                 {% endif %}
  
                </dd>
                <dd class="govuk-summary-list__actions">
                  {% if  data['apptbooked']   == 'yes' %}    <a class="govuk-link" href="more-info">
                    Change<span class="govuk-visually-hidden"> any additional information</span>
                  </a>
                  {% endif %}
                </dd> 
              </div>
              
            </dl>

      
          <div>

            {% if  data['apptbooked']   == 'yes' %} 
            <a href="cancel-assessment" role="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel appointment
            </a>
            {% endif %}
          </div>
      
        </fieldset>
      </div>
      </div>
    </div>
  </main>
</div>


{% endblock %}
