{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <a href="../index" class="govuk-back-link" style="margin-top:-20px;">Back</a>

       

      <h1 class="govuk-heading-l">
       v8: Copy set availability, v2 cancellation reasons
      </h1>




      <a href="/v8/main-menu" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>



      <h1 class="govuk-heading-s">
       Shortcut
        </h1>
 
 
      
         <ul class="govuk-list govuk-list--bullet">
   <li><a href="/v8/availability-management/location">Manage availability</a>  (copy availability to other days)</li>
  <li><a href="/v8/has-manage-appt/appointments">Manage appointments</a></li>
   
   <li><a href="/v8/book-appt/claimant-detail">Book an appointment</a> </li>
  </ul>

  <h1 class="govuk-heading-s">
Other work
     </h1>
  <ul class="govuk-list govuk-list--bullet">
     <li><a href="/v8/cancel-apt/current-assessments">v2 cancel appointment reasons</a></li>

  
  </ul>



   

    </div>
  </div>


        </main>
      </div>


      {% endblock %}

