{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <a href="../index" class="govuk-back-link" style="margin-top:-20px;">Back</a>

       

      <h1 class="govuk-heading-l">
       V6
      </h1>




      <a href="availability-management/manage-select" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>

   

    <!--  <h1 class="govuk-heading-s">
       Additional design pages (draft)
       </h1>


     
        <ul class="govuk-list govuk-list--bullet"><li> <a href="availability-management/agents/amy-gill-profile2">    Availability: Agent sets times </a> (Working pattern + location times for the week)</li>
        <li><a href="errors/availability-added-warning">Notification: not all owners were added to appointment availability</a> (recommended)</li>
      <li><a href="errors/availability-add-error">Error page: not all owners were added to appointment availability</a> (not recommended) </li></ul>
         



        -->

    </div>
  </div>


        </main>
      </div>


      {% endblock %}

