{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">




<div class="govuk-width-container ">

<!-- <a href="start" class="govuk-back-link">Back</a> -->
<a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-width-container--extended" id="main-content" role="main">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">
        Filters
      </h2>
      <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
        Select one or more filters to apply to the list.
      </div>
      <div class="table-filter">
  <form id="filters">
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Case type
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small"
      data-module="govuk-checkboxes">
      
            
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="srel" name="caseType" type="checkbox" value="srel">
        <label class="govuk-label govuk-checkboxes__label" for="srel">
          Special rules for end of life (<span id='srelCount'>2</span>)
        </label>
        
      </div>
      
    </div>
    
  </fieldset>

  </div>
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">   
      Benefit type
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small"
      data-module="govuk-checkboxes">
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="esa" name="benefit-type" type="checkbox" value="esa">
        <label class="govuk-label govuk-checkboxes__label" for="esa">
          Employment Support Allowance (13)
        </label>  
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="pip" name="benefit-type" type="checkbox" value="pip">
        <label class="govuk-label govuk-checkboxes__label" for="pip">
          Personal Independence Payment (25)
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="uc" name="benefit-type" type="checkbox" value="uc">
        <label class="govuk-label govuk-checkboxes__label" for="uc">
          Universal Credit (22)
        </label>
      </div>
      
    </div>    
  
    </fieldset>
  
  </div>
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">  
      Assessment centre
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
       
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="handsworth" name="assessment-centre" type="checkbox" value="handsworth">
        <label class="govuk-label govuk-checkboxes__label" for="handsworth">
          Birmingham Handsworth (22)
        </label>
      </div>
              
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="tresco" name="assessment-centre" type="checkbox" value="tresco">
        <label class="govuk-label govuk-checkboxes__label" for="tresco">
          London Tresco House (20)
        </label>
      </div>

    </div>
    
    </fieldset>
    
  </div>

  <button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>

  </form>
  
  
  
  </div>
</div>
    <div class="govuk-grid-column-three-quarters">
  
      <h1 class="govuk-heading-l">
        Book appointment
      </h1>
  
      <table data-module="moj-sortable-table" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">NI number</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" >Referral date</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" >Next action due in</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href="book-appt/claimant-detail" aria-describedby="claimant-detail-report">Jane Doe</a></td>
            <td class="govuk-table__cell">RN 00 01 23 A</td>
            <td class="govuk-table__cell" data-sort-value="220708">8 July 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
         
          <tr class="govuk-table__row no-srel pip handsworth">
            <td class="govuk-table__cell"><a href="#"
                aria-describedby="claimant-detail-report">Januaryette Rafe</a></td>
            <td class="govuk-table__cell">RN 00 11 23 A</td>
            <td class="govuk-table__cell" data-sort-value="220216">16 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.8">
              <strong class="govuk-tag govuk-tag--red" id="overdue">8 days overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel uc handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Alan Walsh</a></td>
            <td class="govuk-table__cell">RN 00 04 26 D</td>
            <td class="govuk-table__cell" data-sort-value="220211">10 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.7">
              <strong class="govuk-tag govuk-tag--red" id="overdue">7 days overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel pip handsworth">
            <td class="govuk-table__cell"><a href="#"
                aria-describedby="claimant-detail-report">Januaryice West</a></td>
            <td class="govuk-table__cell">RN 11 0 22 C</td>
            <td class="govuk-table__cell" data-sort-value="220216">16 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.5">
              <strong class="govuk-tag govuk-tag--red" id="overdue">5 days overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel uc handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Noah
                Best</a></td>
            <td class="govuk-table__cell">RN 00 09 36 H</td>
            <td class="govuk-table__cell" data-sort-value="220210">10 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.4">
              <strong class="govuk-tag govuk-tag--red" id="overdue">4 days overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="#"
                aria-describedby="claimant-detail-report">Eileen Jones</a></td>
            <td class="govuk-table__cell">RN 00 41 16 K</td>
            <td class="govuk-table__cell" data-sort-value="220216">16 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.4">
              <strong class="govuk-tag govuk-tag--red" id="overdue">4 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel uc handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Nigel
                Jones</a></td>
            <td class="govuk-table__cell">RN 00 09 22 B</td>
            <td class="govuk-table__cell" data-sort-value="220211">10 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.3">
              <strong class="govuk-tag govuk-tag--red" id="overdue">3 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="#"
                aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
            <td class="govuk-table__cell">RN 00 01 11 N</td>
            <td class="govuk-table__cell" data-sort-value="220310">10 March 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.2">
              <strong class="govuk-tag govuk-tag--red" id="overdue">2 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Ethan
                Thornton</td>
            <td class="govuk-table__cell">RN 00 01 61 D</td>
            <td class="govuk-table__cell" data-sort-value="220110">10 January 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.2">
              <strong class="govuk-tag govuk-tag--red" id="overdue">2 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel esa tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Paige
                Gael</a></td>
            <td class="govuk-table__cell">RN 00 07 71 T</td>
            <td class="govuk-table__cell" data-sort-value="220410">10 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.2">
              <strong class="govuk-tag govuk-tag--red" id="overdue">2 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel pip handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Januarye
                Donald</a></td>
            <td class="govuk-table__cell">RN 00 01 23 A</td>
            <td class="govuk-table__cell" data-sort-value="220301">1 March 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.2">
              <strong class="govuk-tag govuk-tag--red" id="overdue">2 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel esa handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Jake
                Rafter</a></td>
            <td class="govuk-table__cell">RN 00 11 23 A</td>
            <td class="govuk-table__cell" data-sort-value="220216">16 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.1">
              <strong class="govuk-tag govuk-tag--red" id="overdue">1 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel pip handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Rhys
                Cooper</a></td>
            <td class="govuk-table__cell">RN 00 01 11 N</td>
            <td class="govuk-table__cell" data-sort-value="220211">10 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.1">
              <strong class="govuk-tag govuk-tag--red" id="overdue">1 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Ethel
                Smith</td>
            <td class="govuk-table__cell">RN 00 01 61 D</td>
            <td class="govuk-table__cell" data-sort-value="220410">10 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="0.1">
              <strong class="govuk-tag govuk-tag--red" id="overdue">1 day overdue</strong>
            </td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Rita
                Jones</a></td>
            <td class="govuk-table__cell">RN 00 07 71 T</td>
            <td class="govuk-table__cell" data-sort-value="220110">10 January 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-start-assessment">Zidane May</a>
            </td>
            <td class="govuk-table__cell">RN 00 01 45 K</td>
            <td class="govuk-table__cell" data-sort-value="220428">28 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-start-assessment">Lorna
                Marchkham</a></td>
            <td class="govuk-table__cell">RN 00 01 21 K</td>
            <td class="govuk-table__cell" data-sort-value="220428">28 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-start-assessment">Saffa Good</a>
            </td>
            <td class="govuk-table__cell">RN 00 11 26 N</td>
            <td class="govuk-table__cell" data-sort-value="220328">28 March 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
          <tr class="govuk-table__row no-srel esa tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Cody Battle</a></td>
            <td class="govuk-table__cell">RN 00 03 34 M</td>
            <td class="govuk-table__cell" data-sort-value="220238">28 February 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
          <tr class="govuk-table__row no-srel pip handsworth">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Melvin Dalby</a></td>
            <td class="govuk-table__cell">RN 00 08 41 Z</td>
            <td class="govuk-table__cell" data-sort-value="220329">29 March 2023</td>
            <td class="govuk-table__cell" data-sort-value="1">1 day</td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Blossom Delacruz</a></td>
            <td class="govuk-table__cell">RN 00 02 25 P</td>
            <td class="govuk-table__cell" data-sort-value="220329">29 March 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Nadia Pitt</a></td>
            <td class="govuk-table__cell">RN 00 00 01 A</td>
            <td class="govuk-table__cell" data-sort-value="220410">10 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel esa tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail">Alya Branch</a></td>
            <td class="govuk-table__cell">RN 00 03 78 R</td>
            <td class="govuk-table__cell" data-sort-value="220416">16 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Olaf Le</a></td>
            <td class="govuk-table__cell">RN 00 01 31 H</td>
            <td class="govuk-table__cell" data-sort-value="220120">20 January 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="#" aria-describedby="claimant-detail-report">Garfield Galvan</a></td>
            <td class="govuk-table__cell">RN 00 01 21 J</td>
            <td class="govuk-table__cell" data-sort-value="220420">20 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel esa handsworth">
            <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Susie
                Werner</a></td>
            <td class="govuk-table__cell">RN 00 22 27 J</td>
            <td class="govuk-table__cell" data-sort-value="220426">26 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel pip tresco">
            <td class="govuk-table__cell"><a href="claimant-detail-report"
                aria-describedby="claimant-detail-report">Krystal Black</a></td>
            <td class="govuk-table__cell">RN 00 01 25 G</td>
            <td class="govuk-table__cell" data-sort-value="220427">27 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel uc tresco">
            <td class="govuk-table__cell"><a href="claimant-detail-report" aria-describedby="claimant-detail-report">Pablo
                Holden</a></td>
            <td class="govuk-table__cell">RN 00 09 96 U</td>
            <td class="govuk-table__cell" data-sort-value="220424">24 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
          <tr class="govuk-table__row no-srel uc handsworth">
            <td class="govuk-table__cell"><a href="claimant-detail-report"
                aria-describedby="claimant-detail-report">Lilly-Mae Merritt</a></td>
            <td class="govuk-table__cell">RN 00 02 22 W</td>
            <td class="govuk-table__cell" data-sort-value="220424">24 Apr 2023</td>
            <td class="govuk-table__cell" data-sort-value="2">2 days</td>
          </tr>
        </tbody>
      </table>
  
      <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list">
          <li class="moj-pagination__item  moj-pagination__item--prev">
            <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
          </li>
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>
          <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>
          <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
          </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>40</b> to <b>80</b> of <b>120</b> referrals</p>
      </nav>
  
  
    </div>
  </div>
  
  <script>
  
    function hideAllWithClass(classname) {
      document.querySelectorAll("." + classname).forEach((element) => {
        element.style.visibility = 'collapse';
      });
    }
  
    function showAllWithClass(classname) {
      document.querySelectorAll("." + classname).forEach((element) => {
        element.style.visibility = 'visible';
      });
    }
  
    document.querySelector("#filters").addEventListener("submit", function (e) {
  
      e.preventDefault();    //stop form from submitting
  
      showAllWithClass("esa");
      showAllWithClass("pip");
      showAllWithClass("uc");
      showAllWithClass("tresco");
      showAllWithClass("handsworth");
      showAllWithClass("srel");
      showAllWithClass("no-srel");
  
      let benefitTypes = [];
      let sites = [];
  
      if (document.getElementById('srel').checked == true) {
        hideAllWithClass("no-srel");
      }
  
      if (document.getElementById('pip').checked == true || document.getElementById('esa').checked == true || document.getElementById('uc').checked == true) {
        if (document.getElementById('pip').checked == false) {
          hideAllWithClass("pip");
        } else {
          benefitTypes.push("Personal Independence Payment");
        }
  
        if (document.getElementById('esa').checked == false) {
          hideAllWithClass("esa");
        } else {
          benefitTypes.push("Employment Support Allowance");
        }
  
        if (document.getElementById('uc').checked == false) {
          hideAllWithClass("uc");
        } else {
          benefitTypes.push("Universal Credit");
        }
      }
  
      if (document.getElementById('handsworth').checked == true || document.getElementById('tresco').checked == true) {
        if (document.getElementById('handsworth').checked == false) {
          hideAllWithClass("handsworth");
        } else {
          sites.push("Handsworth");
        }
  
        if (document.getElementById('tresco').checked == false) {
          hideAllWithClass("tresco");
        } else {
          sites.push('Tresco');
        }
      }
  
      var count = 0;
      var elemnts = document
        .querySelectorAll('.govuk-table tr').forEach((element) => {
          if (element.style.visibility === 'visible') {
            count += 1;
          }
        })
  
      if (count < 20) {
        document.getElementById('pagination').style.visibility = 'collapse';
      } else {
        document.getElementById('pagination').style.visibility = 'visible';
      }
  
      document.getElementById('paginationTotal').innerText = count;
  
      // var eol = document.getElementById('srel').checked ? " end of life" : "";
      // var benefitTypeString = benefitTypes.join(", ");
      // var sitesString = sites.join(", ");
      // var ifBenefitType = benefitTypes.length > 0 ? ' for ' : '';
      // var ifSites = sites.length > 0 ? ' at ' : '';
  
      //11 HCP review end of life referrals in PIP, ESA, UC at Birmingham Handsworth
      // var text = count + " report ready " + eol + " referrals " + ifBenefitType + benefitTypeString + ifSites + sitesString;
      var text = count + " referrals";
  
      document.getElementById('filter-playback').innerText = text;
  
      // document.getElementById('srelCount').innertext = document.querySelectorAll('.govuk-table tr.srel').length;
  
    });
  
  </script>
  
  
</main>
</div>


{% endblock %}

