
{% extends "layouts/main.html" %}



{% block pageTitle %}
Appointment booked - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">

  <div class="govuk-grid-row" style="margin-top: -40px;">
    <div class="govuk-grid-column-full">
      <div class="govuk-width-container">
  
     
        <p class="govuk-phase-banner__content govuk-!-margin-top-2">
          <strong class="govuk-tag2 govuk-phase-banner__content__tag">
            Feedback
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service. Help us to improve it by giving your <a class="govuk-link" href="#">feedback (opens in new tab)</a>.
          </span>
        </p>
  
    </div> <hr>
  
  </div>


  <div class="govuk-grid-column-two-thirds">


<br>
                  <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      {% if  data['assessment-channel'] %}
                      {{ data['assessment-channel'] }}
                     {% else %}
                      Telephone
                     {% endif %} appointment booked
                    </h1>
                    <!-- <div class="govuk-panel__body">
                      Your reference number<br><strong>HDJ2123F</strong>
                    </div> -->
                  </div>
                  <br>  <br>

                  <h2 class="govuk-heading-m">Next steps</h2>

                  <p class="govuk-body">
                    
                    <a href=" ">Update the status</a> for this claimant and add a new entry to the timeline.</p>

                   
                    <div class="govuk-inset-text">
                     Date of the appointment:  Wed 7 May 2023  or 7 5 2023 </div>


<br>
                <!--   <p class="govuk-body">
                    <a href="claimant-detail" class="govuk-link">Return to claimant details</a>
                  </p> -->
                </div>
              </div>
            </main>
          </div>


    </div>

</div>

        </main>
      </div>



      {% endblock %}
