{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">


   <a href="amy-gill-profile" class="govuk-back-link">Back</a>

  <div class="govuk-grid-column-full-width">

    
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   

    

      <form action="amy-gill-profile-week-location-updated#past-week" method="post" class="form" >  
       
        
     

            <h1 class="govuk-heading-l">
            
Where does Amy Gill work each day?
            
           
            </h1>
           

            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row" >
                   
                   

                        
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                 
              <th scope="col" class="govuk-table__header" style="width: 9%;">Day</th>
              <th scope="col" class="govuk-table__header" style="width: 11%;">Morning </th>
              <th scope="col" class="govuk-table__header" style="width: 11%;">Afternoon</th>
            </tr>
              </thead>
              <tbody class="govuk-table__body">

              

               

<!-- Monday-->
                <tr class="govuk-table__row handsworth">
                 
                    <td class="govuk-table__cell">Monday</td>  
          
      <td class="govuk-table__cell">
                  
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mon-am-worklocation" name="mon-am-worklocation" type="radio" value="birmingham" checked>
          <label class="govuk-label govuk-radios__label" for="mon-am-worklocation">
            Birmingham, Handsworth
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mon-am-worklocation-2" name="mon-am-worklocation" type="radio" value="remote">
          <label class="govuk-label govuk-radios__label" for="mon-am-worklocation-2">
            Working from home
          </label>
        </div>
     

      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mon-am-worklocation-3" name="mon-am-worklocation" type="radio" value="not-available">
        <label class="govuk-label govuk-radios__label" for="mon-am-worklocation-3">
          Unavailable
        </label>
      </div>
    </div>

    </fieldset>
  </div>


                </td>

        

              <td class="govuk-table__cell">


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mon-pm-worklocation" name="mon-pm-worklocation" type="radio" value="birmingham" checked>
          <label class="govuk-label govuk-radios__label" for="mon-pm-worklocation">
            Birmingham, Handsworth
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mon-pm-worklocation-2" name="mon-pm-worklocation" type="radio" value="remote">
          <label class="govuk-label govuk-radios__label" for="mon-pm-worklocation-2">
            Working from home
          </label>
        </div>
     

      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="mon-pm-worklocation-3" name="mon-pm-worklocation" type="radio" value="not-available">
        <label class="govuk-label govuk-radios__label" for="mon-pm-worklocation-3">
          Unavailable
        </label>
      </div>
    </div>

    </fieldset>
  </div></td>



  
               

                  </tr>
                  
<!--TUESDAY-->

<tr class="govuk-table__row handsworth">
                 
  <td class="govuk-table__cell">Tuesday</td>  



  <td class="govuk-table__cell">
                  
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="tue-am-worklocation" name="tue-am-worklocation" type="radio" value="birmingham" checked>
          <label class="govuk-label govuk-radios__label" for="tue-am-worklocation">
            Birmingham, Handsworth
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="tue-am-worklocation-2" name="tue-am-worklocation" type="radio" value="remote">
          <label class="govuk-label govuk-radios__label" for="tue-am-worklocation-2">
           Working from home
          </label>
        </div>
     

      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="tue-am-worklocation-3" name="tue-am-worklocation" type="radio" value="not-available">
        <label class="govuk-label govuk-radios__label" for="tue-am-worklocation-3">
          Unavailable
        </label>
      </div>
    </div>

    </fieldset>
  </div>


                </td>

        

              <td class="govuk-table__cell">


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      
      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="tue-pm-worklocation" name="tue-pm-worklocation" type="radio" value="birmingham" checked>
          <label class="govuk-label govuk-radios__label" for="tue-pm-worklocation">
            Birmingham, Handsworth
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="tue-pm-worklocation-2" name="tue-pm-worklocation" type="radio" value="remote">
          <label class="govuk-label govuk-radios__label" for="tue-pm-worklocation-2">
            Working from home
          </label>
        </div>
     

      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="tue-pm-worklocation-3" name="tue-pm-worklocation" type="radio" value="not-available">
        <label class="govuk-label govuk-radios__label" for="tue-pm-worklocation-3">
          Unavailable
        </label>
      </div>
    </div>

    </fieldset>
  </div></td>


</tr>

<!--WEDNESDAY -->

<tr class="govuk-table__row handsworth">
                 
  <td class="govuk-table__cell">Wednesday</td>  

  <td class="govuk-table__cell">
                  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wed-am-worklocation" name="wed-am-worklocation" type="radio" value="birmingham" checked>
            <label class="govuk-label govuk-radios__label" for="wed-am-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wed-am-worklocation-2" name="wed-am-worklocation" type="radio" value="remote">
            <label class="govuk-label govuk-radios__label" for="wed-am-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="wed-am-worklocation-3" name="wed-am-worklocation" type="radio" value="not-available">
          <label class="govuk-label govuk-radios__label" for="wed-am-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div>
  
  
                  </td>
  
          
  
                <td class="govuk-table__cell">
  
  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wed-pm-worklocation" name="wed-pm-worklocation" type="radio" value="birmingham" checked>
            <label class="govuk-label govuk-radios__label" for="wed-pm-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wed-pm-worklocation-2" name="wed-pm-worklocation" type="radio" value="remote">
            <label class="govuk-label govuk-radios__label" for="wed-pm-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="wed-pm-worklocation-3" name="wed-pm-worklocation" type="radio" value="not-available">
          <label class="govuk-label govuk-radios__label" for="wed-pm-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div></td>




</tr>


<!-- THURSDAY--> 

<tr class="govuk-table__row handsworth">
                 
  <td class="govuk-table__cell">Thursday</td>  

  <td class="govuk-table__cell">
                  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="thu-am-worklocation" name="thu-am-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="thu-am-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="thu-am-worklocation-2" name="thu-am-worklocation" type="radio" value="remote" checked>
            <label class="govuk-label govuk-radios__label" for="thu-am-worklocation-2">
             Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="thu-am-worklocation-3" name="thu-am-worklocation" type="radio" value="not-available" >
          <label class="govuk-label govuk-radios__label" for="thu-am-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div>
  
  
                  </td>
  
          
  
                <td class="govuk-table__cell">
  
  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="thu-pm-worklocation" name="thu-pm-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="thu-pm-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="thu-pm-worklocation-2" name="thu-pm-worklocation" type="radio" value="remote" checked>
            <label class="govuk-label govuk-radios__label" for="thu-pm-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="thu-pm-worklocation-3" name="thu-pm-worklocation" type="radio" value="not-available">
          <label class="govuk-label govuk-radios__label" for="thu-pm-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div></td>
</tr>

<!-- FRIDAY-->

<tr class="govuk-table__row handsworth">
                 
  <td class="govuk-table__cell">Friday</td>  


  <td class="govuk-table__cell">
                  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="fri-am-worklocation" name="fri-am-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="fri-am-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="fri-am-worklocation-2" name="fri-am-worklocation" type="radio" value="remote" checked>
            <label class="govuk-label govuk-radios__label" for="fri-am-worklocation-2">
           Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="fri-am-worklocation-3" name="fri-am-worklocation" type="radio" value="not-available">
          <label class="govuk-label govuk-radios__label" for="fri-am-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div>
  
  
                  </td>
  
          
  
                <td class="govuk-table__cell">
  
  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="fri-pm-worklocation" name="fri-pm-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="fri-pm-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="fri-pm-worklocation-2" name="fri-pm-worklocation" type="radio" value="remote" checked>
            <label class="govuk-label govuk-radios__label" for="fri-pm-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="fri-pm-worklocation-3" name="fri-pm-worklocation" type="radio" value="not-available">
          <label class="govuk-label govuk-radios__label" for="fri-pm-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div></td>



</tr>

<!-- SATURDAY-->

<tr class="govuk-table__row handsworth">
                 
  <td class="govuk-table__cell">Saturday</td>  



  <td class="govuk-table__cell">
                  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sat-am-worklocation" name="sat-am-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="sat-am-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sat-am-worklocation-2" name="mon-am-worklocation" type="radio" value="remote">
            <label class="govuk-label govuk-radios__label" for="sat-am-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sat-am-worklocation-3" name="sat-am-worklocation" type="radio" value="not-available" checked>
          <label class="govuk-label govuk-radios__label" for="sat-am-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div>
  
  
                  </td>
  
          
  
                <td class="govuk-table__cell">
  
  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sat-pm-worklocation" name="sat-pm-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="sat-pm-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sat-pm-worklocation-2" name="mon-pm-worklocation" type="radio" value="remote">
            <label class="govuk-label govuk-radios__label" for="mon-pm-worklocation-2">
             Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sat-pm-worklocation-3" name="sat-pm-worklocation" type="radio" value="not-available" checked>
          <label class="govuk-label govuk-radios__label" for="sat-pm-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div></td>

</tr>

<!-- SUNDAY-->


<tr class="govuk-table__row handsworth">
                 
  <td class="govuk-table__cell">Sunday</td>  



  <td class="govuk-table__cell">
                  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sun-am-worklocation" name="sun-am-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="sun-am-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sun-am-worklocation-2" name="sun-am-worklocation" type="radio" value="remote">
            <label class="govuk-label govuk-radios__label" for="sun-am-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sun-am-worklocation-3" name="sun-am-worklocation" type="radio" value="not-available" checked>
          <label class="govuk-label govuk-radios__label" for="sun-am-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div>
  
  
                  </td>
  
          
  
                <td class="govuk-table__cell">
  
  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sun-pm-worklocation" name="sun-pm-worklocation" type="radio" value="birmingham" >
            <label class="govuk-label govuk-radios__label" for="sun-pm-worklocation">
              Birmingham, Handsworth
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sun-pm-worklocation-2" name="sun-pm-worklocation" type="radio" value="remote">
            <label class="govuk-label govuk-radios__label" for="sun-pm-worklocation-2">
              Working from home
            </label>
          </div>
       
  
        <div class="govuk-radios__divider">or</div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sun-pm-worklocation-3" name="sun-pm-worklocation" type="radio" value="not-available" checked>
          <label class="govuk-label govuk-radios__label" for="sun-pm-worklocation-3">
            Unavailable
          </label>
        </div>
      </div>
  
      </fieldset>
    </div></td>

</tr>

                 
                  
                </tbody>
              </table>
           
             
 


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



    </div>


</div>


    </div>

  </main>
</div>




{% endblock %}