{% extends "layouts/main.html" %}



{% block pageTitle %}
Cancel appointment - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="current-assessments-cancelled" method="post">

      <h1 class="govuk-heading-l">Are you sure you want to cancel Jane Doe's appointment?</h1>

      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Yes, cancel appointment
        </button>

        <div class="hidden-radio-post">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="apptbooked" name="apptbooked" type="radio" value="cancelled" {{ checked('apptbooked', 'cancelled') }} checked>

              <label class="govuk-label govuk-radios__label" for="apptbooked">
                Hidden radio = Appointment cancelled
              </label>
            </div>
          </div>
        </div>


        <a class="govuk-link" href="view-assessment">Return to appointment details</a>
      </div>

      <br>
      <br>

  </div>

</div>

</main>
</div>




{% endblock %}

