{% extends "layouts/main.html" %}



{% block pageTitle %}
Check HCP details - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing " id="main-content" role="main">


<h1 class="govuk-heading-l">
Check scheduled availability before submitting
</h1>

  


<div class="govuk-form-group">

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
  <!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->
  
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Date
    </dt>
    <dd class="govuk-summary-list__value">
      Mon 5 Sep 2023 to Fri 9 Sep 2023
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Duration
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
     
   
     Afternoon (1pm to 5pm)
     
    
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
      Assigned
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
      All 
     
    
    </dd>
  </div>

 
  <div class="govuk-summary-list__row" style="border-bottom: none;"> 
    <dt class="govuk-summary-list__key" style="border: none;">

    </dt>
    <dd class="govuk-summary-list__value" style="text-align: right; border: none;">

      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="add-slot">
          Change</a>
      </li>

      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="remove-slot">
          Remove
          </a>
      </li>

      </dd>

  </div>

</dl>




<!-- if another slot added -->
{% if  data['slot2']  == 'booked' %}


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Date
    </dt>
    <dd class="govuk-summary-list__value">
      Mon 5 Sep 2023 to Fri 9 Sep 2023
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
     Duration
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
      Morning (9am to 12pm)
     
    
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
      Assigned
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
     Joe Bloggs
     
    
    </dd>
  </div>

  

      

      <div class="govuk-summary-list__row" style="border-bottom: none;"> 
        <dt class="govuk-summary-list__key" style="border: none;">

        </dt>
        <dd class="govuk-summary-list__value" style="text-align: right; border: none;">

          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="add-slot">
              Change</a>
          </li>

          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="remove-slot">
              Remove
              </a>
          </li>


        </dd>


      </div>

    </dd>


  </div>

</dl> {% endif %}

<!-- end of second slot -->


<div class="button-wrapper"> 
<form class="form" action="existing-slots-added" method="post">


 

      
<button class="govuk-button" style="float:left;" data-module="govuk-button">Submit</button> </form>



<form class="form" action="add-slot" method="post">


  <div class="hidden-radio-post"> 
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="slot2-booked" name="slot2" type="radio" value="booked" {{ checked('slot2', 'booked') }} checked>

        <label class="govuk-label govuk-radios__label" for="slot2-booked">
          Hidden radio = add another table here when add another clicked
        </label>
      </div>
    </div>
</div> 


<button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="float: left; margin-left:20px;">
  Schedule more availability
</button></form>

</div>

</div>



</div>


</main>
</div>


{% endblock %}