{% extends "layouts/main.html" %}



{% block pageTitle %}
Availability - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
   



    <div class="govuk-width-container ">
        
      <main class="govuk-main-wrapper " id="main-content" role="main">
        
    <div class="app-pane__body">

      <div class="app-pane__subnav">
        <a href="../agents/agent-profiles" class="govuk-back-link">Back</a>

      

              <ul class="app-subnav__section">
    
          
    
            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Availability<i class="chevron"></i> </a>
</li>
<li class="app-subnav__section-item">
<a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="agent-availability">View all agent availability<i class="chevron2"></i> </a>
</li>
 
        </ul></nav>
      </div>
   

    <div class="govuk-grid-row  overview">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="width:65%;">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
  Success     

  </h2>
  </div>
  <div class="govuk-notification-banner__content">
 
  
    {% if  data['slot2']  != 'booked' %}
    <h3 class="govuk-notification-banner__heading">
    Availability scheduled
  </h3>
  <p class="govuk-body">You can now book appointments within the scheduled date range.</p>
    {% endif %}

    {% if  data['slot2']  == 'booked' %}
    <h3 class="govuk-notification-banner__heading">
   Availability scheduled
    </h3>
    <p class="govuk-body">You can now book appointments within the scheduled date ranges.</p>
    {% endif %}
    

  </div>
  </div>



   <h1 class="govuk-heading-l">
    Appointment availability
    </h1>

      <!-- if another slot added -->
      {% if  data['slot2']  == 'booked' %}
    
      <h2 class="govuk-heading-m">
        Scheduled availability: Training morning
        </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Date
          </dt>
          <dd class="govuk-summary-list__value">
            Fri 22 Sep 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="border-bottom:0px;">
          Duration
          </dt>
          <dd class="govuk-summary-list__value" style="border-bottom:0px;">
            Morning (9am to 12pm)
            
           
          
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="border-bottom:0px;">
           Available agents
          </dt>
          <dd class="govuk-summary-list__value" style="border-bottom:0px;">
            All agents in Handsworth
           
          
          </dd>
        </div>
      
        
      
            
      
            <div class="govuk-summary-list__row" style="border-bottom: none;"> 
              <dt class="govuk-summary-list__key" style="border: none;">
      
              </dt>
              <dd class="govuk-summary-list__value" style="text-align: right; border: none;">
      
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="add-slot">
                    Change</a>
                </li>
      
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="remove-slot">
                    Remove
                    </a>
                </li>
      
      
              </dd>
      
      
            </div>
      
          </dd>
      
      
        
      
      </dl>
      {% endif %}
      <!-- end of second slot -->
    
      <h2 class="govuk-heading-m">
        Scheduled availability: Head of work
        </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date 
        </dt>
        <dd class="govuk-summary-list__value">
          Mon 18 Sep 2023 to Thu 21 Sep 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
         Duration
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
          Morning (9am to 12pm) <br>
          Afternoon (1pm to 5pm)
        
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
         Available agents
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
          All agents in Handsworth
         
        
        </dd>
      </div>
    
     
      <div class="govuk-summary-list__row" style="border-bottom: none;"> 
        <dt class="govuk-summary-list__key" style="border: none;">
    
        </dt>
        <dd class="govuk-summary-list__value" style="text-align: right; border: none;">
    
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="add-slot">
              Change</a>
          </li>
    
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="remove-slot">
              Remove
              </a>
          </li>
    
          </dd>
    
      </div>
    
    </dl>
    
    
    
    
  
     
    <h2 class="govuk-heading-m">
      Scheduled availability
      </h2>
    
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date
        </dt>
        <dd class="govuk-summary-list__value">
          Fri 15 Sep 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
        Duration
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
          Morning (9am to 12pm) 
          
          
         
        
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
         Available agents
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
          All agents in Handsworth
         
        
        </dd>
        </div>
    
          
    
          <div class="govuk-summary-list__row" style="border-bottom: none;"> 
            <dt class="govuk-summary-list__key" style="border: none;">
    
            </dt>
            <dd class="govuk-summary-list__value" style="text-align: right; border: none;">
    
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="  ">
                  Change</a>
              </li>
    
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href=" ">
                  Remove
                  </a>
              </li>
    
    
            </dd>
    
    
          </div>
    
        </dl>  
  
  <h2 class="govuk-heading-m">
    Scheduled availability
    </h2>
    
         
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Date
  </dt>
  <dd class="govuk-summary-list__value">
    Mon 11 Sep 2023 to Thu 14 Sep 2023
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="border-bottom:0px;">
   Duration
  </dt>
  <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    Morning (9am to 12pm) <br>
    Afternoon (1pm to 5pm)
   
  
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Available agents
  </dt>
  <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    All agents in Handsworth
   
  
  </dd>
</div>


<div class="govuk-summary-list__row" style="border-bottom: none;"> 
  <dt class="govuk-summary-list__key" style="border: none;">

  </dt>
  <dd class="govuk-summary-list__value" style="text-align: right; border: none;">

    <li class="govuk-summary-list__actions-list-item">
      <a class="govuk-link" href=" ">
        Change</a>
    </li>

    <li class="govuk-summary-list__actions-list-item">
      <a class="govuk-link" href=" ">
        Remove
        </a>
    </li>

    </dd>

</div>

</dl>








  <h2 class="govuk-heading-m">
    Scheduled availability
    </h2>

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
   Date
  </dt>
  <dd class="govuk-summary-list__value">
   Mon 4 Sep 2023 to Fri 9 Sep 2023
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="border-bottom:0px;">
   Duration
  </dt>
  <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    Morning (9am to 12pm) <br>
    Afternoon (1pm to 5pm)
    
   
  
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Available agents
  </dt>
  <dd class="govuk-summary-list__value" style="border-bottom:0px;">
   Amy Gill<br>Emma Bradley
   
  
  </dd>
</div>



    

    <div class="govuk-summary-list__row" style="border-bottom: none;"> 
      <dt class="govuk-summary-list__key" style="border: none;">

      </dt>
      <dd class="govuk-summary-list__value" style="text-align: right; border: none;">

        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href=" ">
            Change</a>
        </li>

        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href=" ">
            Remove
            </a>
        </li>


      </dd>


    </div>



</dl>






            
          </div>
        

      <div class="govuk-grid-column-one-third" style="margin-top: -0px;">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next   
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="add-slot">Schedule availability</a>
            </li>

       
          </ul>    
        
      </ul></div>

      
    
    
    </div>


    </div>

</div>

      </div></main>
    


  
 

<div class="govuk-form-group">

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
  <!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->








</div>



</div>


</main>
</div>


{% endblock %}