
{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}


{% endblock %}

{% block content %}



          <div class="govuk-width-container">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      Status updated for 
    
                     
                     
                       Jane Doe
                     
                     
                    </h1>
                    
                  </div>
                  <br>  <br>

                  <h2 class="govuk-heading-m">What you can do next </h2>


                  
                    <p> <a href="../hawk-appointment/claimant-detail"> View details for Jane Doe</a></p>
                    <p> <a href="">Add a timeline entry for Jane Doe</a></p>
            
                

           <p>  
                <a href="../caseload-or-status"> Viewing other cases by caseload or status</a></p> 
            
            

                </div>
              </div>
            </main>
          </div>


    </div>

</div>

        </main>
      </div>



      {% endblock %}
