{% extends "layouts/main.html" %}



{% block pageTitle %}
Booked assessments - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">




<div class="govuk-width-container ">

<!-- <a href="start" class="govuk-back-link">Back</a> -->
<a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-width-container--extended" id="main-content" role="main">
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">
        Filters
      </h2>
      <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
        Select one or more filters to apply to the list.
      </div>
      <div class="table-filter">
  <form id="filters">
  
  
    <div class="govuk-form-group">
  
      <fieldset class="govuk-fieldset">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">   
        Benefit 
      </legend>
      
    
      <div class="govuk-checkboxes govuk-checkboxes--small"
        data-module="govuk-checkboxes">
        
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="esa" name="benefit-type" type="checkbox" value="esa">
          <label class="govuk-label govuk-checkboxes__label" for="esa">
            Employment Support Allowance (1)
          </label>  
        </div>
        
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="pip" name="benefit-type" type="checkbox" value="pip">
          <label class="govuk-label govuk-checkboxes__label" for="pip">
            Personal Independence Payment (8)
          </label>
        </div>
  
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="uc" name="benefit-type" type="checkbox" value="uc">
          <label class="govuk-label govuk-checkboxes__label" for="uc">
            Universal Credit (1)
          </label>
        </div>
        
      </div>    
    
      </fieldset>
    
    </div>
  
  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">  
      Assessment centre
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
       
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="handsworth" name="assessment-centre" type="checkbox" value="handsworth">
        <label class="govuk-label govuk-checkboxes__label" for="handsworth">
          Birmingham Handsworth (8)
        </label>
      </div>
              
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="tresco" name="assessment-centre" type="checkbox" value="tresco">
        <label class="govuk-label govuk-checkboxes__label" for="tresco">
          London Tresco House (2)
        </label>
      </div>

    </div>
    
    </fieldset>
    
  </div>


  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">  
     HCP
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
       
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="handsworth" name="assessment-centre" type="checkbox" value="handsworth">
        <label class="govuk-label govuk-checkboxes__label" for="handsworth">
          Assigned (9)
        </label>
      </div>
              
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="tresco" name="assessment-centre" type="checkbox" value="tresco">
        <label class="govuk-label govuk-checkboxes__label" for="tresco">
         Unassigned (1)
        </label>
      </div>

    </div>
    
    </fieldset>
    
  </div>

  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">  
    Appointment type
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
       
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="handsworth" name="assessment-centre" type="checkbox" value="handsworth">
        <label class="govuk-label govuk-checkboxes__label" for="handsworth">
        Telephone (9)
        </label>
      </div>
              
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="tresco" name="assessment-centre" type="checkbox" value="tresco">
        <label class="govuk-label govuk-checkboxes__label" for="tresco">
        Face to face (1)
        </label>
      </div>

    </div>
    
    </fieldset>
    
  </div>


  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">   
      Case type
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small"
      data-module="govuk-checkboxes">
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="esa" name="benefit-type" type="checkbox" value="esa">
        <label class="govuk-label govuk-checkboxes__label" for="esa">
          WCA complex neuro (1)
        </label>  
      </div>
     
      
    </div>    
  
    </fieldset>
  
  </div>


  <div class="govuk-form-group">
  
    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">  
    Date of appointment
    </legend>
    
  
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
       
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
         
          <div id="dob-hint" class="govuk-hint">
            For example, 15 3 2023
          </div>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

    </div>
    
    </fieldset>
    
  </div>

  <button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>

  </form>
  
  
  
  </div>
</div>
    <div class="govuk-grid-column-three-quarters">

      

  
      <h1 class="govuk-heading-l">
       Booked appointments    
      </h1>
  
      <table data-module="moj-sortable-table" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" >Date and time</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" >HCP</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" >Type</th>
           
          </tr>
        </thead>
        <tbody class="govuk-table__body">
         
          {% if  data['agent-appt']   != 'agent-cancelled' %} 
          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href="view-assessment01" aria-describedby="claimant-detail-report">Jane Doe</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Wed 7 August 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">   {% if  data['hcp'] %}
              {{ data['hcp'] }}
             {% else %}
             Amy Gill
             {% endif %} </td>
            <td class="govuk-table__cell" data-sort-value="1"> Face to face</td>

          </tr>
          {% endif %} 

           <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Noelle Carmel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Thu 8 August 2023, 
              9am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href="view-assessment-unassigned" aria-describedby="claimant-detail-report">Alex Smith</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Thu 8 August 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">      
              {% if  data['hcp99'] %}
              {{ data['hcp99'] }}
             {% else %}
             Unassigned
             {% endif %} 
            
           </td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Fran Cliffe</a></td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="220708">Fri 9 August 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Danny Travasso    </td>
            <td class="govuk-table__cell" data-sort-value="1"> Telephone </td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Xia Jeana</a></td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell" data-sort-value="220708">Tue 13 August 2023, 
              1pm</td>
            <td class="govuk-table__cell" data-sort-value="1"> Julie Smails</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Sam Smart</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Wed 14 August 2023, 
              3pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Monica Anyanwu</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Derren Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Fri 15 August 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Monica Anyanwu</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Noah Best</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 August 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Raka Banerjee</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Lucy Steel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 August 2023, 
              9am</td>
            <td class="govuk-table__cell" data-sort-value="1"> Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Rachel Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 August 2023, 
              1pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Paul Grey</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 August 2023, 
              3pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Danny Travasso</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Fran Cliffe</a></td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="220708">Fri 9 September 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Danny Travasso    </td>
            <td class="govuk-table__cell" data-sort-value="1"> Telephone </td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Xia Jeana</a></td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell" data-sort-value="220708">Tue 13 September 2023, 
              1pm</td>
            <td class="govuk-table__cell" data-sort-value="1"> Julie Smails</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Sam Smart</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Wed 14 September 2023, 
              3pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Monica Anyanwu</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Derren Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Fri 15 September 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Monica Anyanwu</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Noah Best</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 September 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Raka Banerjee</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Lucy Steel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 September 2023, 
              9am</td>
            <td class="govuk-table__cell" data-sort-value="1"> Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Rachel Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 September 2023, 
              1pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Paul Grey</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 September 2023, 
              3pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Danny Travasso</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>


          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Fran Cliffe</a></td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="220708">Fri 9 October 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Danny Travasso    </td>
            <td class="govuk-table__cell" data-sort-value="1"> Telephone </td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Xia Jeana</a></td>
            <td class="govuk-table__cell">ESA</td>
            <td class="govuk-table__cell" data-sort-value="220708">Tue 13 October 2023, 
              1pm</td>
            <td class="govuk-table__cell" data-sort-value="1"> Julie Smails</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Sam Smart</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Wed 14 October 2023, 
              3pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Monica Anyanwu</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Derren Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Fri 15 October 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Monica Anyanwu</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Noah Best</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 October 2023, 
              11am</td>
            <td class="govuk-table__cell" data-sort-value="1">  Raka Banerjee</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Lucy Steel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 October 2023, 
              9am</td>
            <td class="govuk-table__cell" data-sort-value="1"> Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Rachel Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 October 2023, 
              1pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Amy Gill</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         

          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href=" " aria-describedby="claimant-detail-report">Paul Grey</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">Mon 18 October 2023, 
              3pm</td>
            <td class="govuk-table__cell" data-sort-value="1">  Danny Travasso</td>
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>

          </tr>
         


         
        
        </tbody>
      </table>
  
      <nav class="moj-pagination" aria-label="Pagination navigation" style="text-align: right;">
      
        <p class="moj-pagination__results">Showing <b>1</b> to <b>30</b> of <b>30</b> appointments</p>
      </nav>
  
  
    </div>
  </div>
  
  <script>
  
    function hideAllWithClass(classname) {
      document.querySelectorAll("." + classname).forEach((element) => {
        element.style.visibility = 'collapse';
      });
    }
  
    function showAllWithClass(classname) {
      document.querySelectorAll("." + classname).forEach((element) => {
        element.style.visibility = 'visible';
      });
    }
  
    document.querySelector("#filters").addEventListener("submit", function (e) {
  
      e.preventDefault();    //stop form from submitting
  
      showAllWithClass("esa");
      showAllWithClass("pip");
      showAllWithClass("uc");
      showAllWithClass("tresco");
      showAllWithClass("handsworth");
      showAllWithClass("srel");
      showAllWithClass("no-srel");
  
      let benefitTypes = [];
      let sites = [];
  
      if (document.getElementById('srel').checked == true) {
        hideAllWithClass("no-srel");
      }
  
      if (document.getElementById('pip').checked == true || document.getElementById('esa').checked == true || document.getElementById('uc').checked == true) {
        if (document.getElementById('pip').checked == false) {
          hideAllWithClass("pip");
        } else {
          benefitTypes.push("Personal Independence Payment");
        }
  
        if (document.getElementById('esa').checked == false) {
          hideAllWithClass("esa");
        } else {
          benefitTypes.push("Employment Support Allowance");
        }
  
        if (document.getElementById('uc').checked == false) {
          hideAllWithClass("uc");
        } else {
          benefitTypes.push("Universal Credit");
        }
      }
  
      if (document.getElementById('handsworth').checked == true || document.getElementById('tresco').checked == true) {
        if (document.getElementById('handsworth').checked == false) {
          hideAllWithClass("handsworth");
        } else {
          sites.push("Handsworth");
        }
  
        if (document.getElementById('tresco').checked == false) {
          hideAllWithClass("tresco");
        } else {
          sites.push('Tresco');
        }
      }
  
      var count = 0;
      var elemnts = document
        .querySelectorAll('.govuk-table tr').forEach((element) => {
          if (element.style.visibility === 'visible') {
            count += 1;
          }
        })
  
      if (count < 20) {
        document.getElementById('pagination').style.visibility = 'collapse';
      } else {
        document.getElementById('pagination').style.visibility = 'visible';
      }
  
      document.getElementById('paginationTotal').innerText = count;
  
      // var eol = document.getElementById('srel').checked ? " end of life" : "";
      // var benefitTypeString = benefitTypes.join(", ");
      // var sitesString = sites.join(", ");
      // var ifBenefitType = benefitTypes.length > 0 ? ' for ' : '';
      // var ifSites = sites.length > 0 ? ' at ' : '';
  
      //11 HCP review end of life referrals in PIP, ESA, UC at Birmingham Handsworth
      // var text = count + " report ready " + eol + " referrals " + ifBenefitType + benefitTypeString + ifSites + sitesString;
      var text = count + " referrals";
  
      document.getElementById('filter-playback').innerText = text;
  
      // document.getElementById('srelCount').innertext = document.querySelectorAll('.govuk-table tr.srel').length;
  
    });
  
  </script>
  
  
</main>
</div>


{% endblock %}

