{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   


      <form class="form" action="amy-gill-available-for-updated" method="post">
       
        

            <h1 class="govuk-heading-l">
              What is Amy Gill available for? 
            </h1>



     

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {{ govukCheckboxes({
              hint: {
                text: "Select all that apply."
              },
              items: [
              {
                value: "PIP TA",
                text: "PIP telephone assessment (PIP TA)",
                checked: true
              },
              {
                value: "PIP F2F",
                text: "PIP face to face (PIP F2F)",
                checked: true
              },
                
              {
                value: "WCA TA",
                text: "WCA telephone assessment (WCA TA)",
                checked: true
              },
              {
                value: "WCA F2F",
                text: "WCA face to face (WCA F2F)",
                checked: true
              },
              {
                value: "WCA CN",
                text: "WCA complex neuro (WCA CN)",
                checked: true
              }
             
              ]
            }) }}

          </div>
          </fieldset>
          </div>

          
 
      

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}
          
            <a class="govuk-link" href="javascript:history.back()">Cancel</a>
          </div>
    </form>

    </div>
    </div>

  </main>
</div>


{% endblock %}