{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="amy-gill-profile-location-updated" method="post">

      <h1 class="govuk-heading-l">Where is Amy Gill available to work?</h1>


     
          <div id="location-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="location" name="location" type="checkbox" value=" Birmingham, Handsworth" checked>
              <label class="govuk-label govuk-checkboxes__label" for="location">
                Birmingham, Handsworth
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="location-2" name="location" type="checkbox" value="London, Tresco House">
              <label class="govuk-label govuk-checkboxes__label" for="location-2">
                London, Tresco House
              </label>
            </div>
          
          </div>
        </fieldset>
   
<br>


      <div class="govuk-button-group">
        <button class="govuk-button govuk-button" data-module="govuk-button">
         Save and continue
        </button>

  


        <a class="govuk-link" href="javascript:history.back()">Cancel</a>
      </div>

      <br>
      <br>

  </div>

</div>

</main>
</div>




{% endblock %}

