{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -70px;">
  <div class="govuk-grid-column-full">
    <a href="agent-profiles" class="govuk-back-link">Back</a>

    <div class="govuk-width-container ">
        
      <main class="govuk-main-wrapper " id="main-content" role="main">
        
      

   


  <div class="govuk-grid-row">
    
 <div class="govuk-grid-column-three-quarters">

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Jane Doe's appointment has been cancelled
    </h3>
    <p class="govuk-body"> <a class="govuk-notification-banner__link" href="update-status">Update the status</a> for this claimant or <a class="govuk-notification-banner__link" href="../../book-appt/assessment-channel">book a new appointment</a>.</p>
    </div>
    </div>

   <h1 class="govuk-heading-l">
    Amy Gill
    </h1>


       
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Amy Gill
        </dd>
      </div>

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Email
        </dt>
        <dd class="govuk-summary-list__value">
          amygill@domain.gov.uk
        </dd>
      </div>
     -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
       Work location
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
          Birmingham, Handsworth
        </dd>

       <!--  <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="agent-hub-location">Change </a>
      </dd> -->


      </div>

    


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
        Available for
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">

          <ul class="govuk-list govuk-list--bullet">
            <li style="white-space:nowrap;">PIP face to face (PIP F2F) </li>
            <li style="white-space:nowrap;">  PIP telephone assessment (PIP TA)</li> 
           <li style="white-space:nowrap;">   WCA complex neuro (WCA CN)</li> 
           <li style="white-space:nowrap;">   WCA face to face (WCA F2F)</li> 
             <li style="white-space:nowrap;"> WCA telephone assessment (WCA TA)</li> 
            
          </ul>


        
         

          </dd>
          </div></dl>

         
    
     

      <h2 class="govuk-heading-m">Appointments</h2>
              
            
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header">Date and time</th>
          
            <th scope="col" class="govuk-table__header">Type</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
  
        
  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href=" ">Noelle Carmel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">Mon 4 September 2024, 9am</td>
           
            <td class="govuk-table__cell">Telephone</td>
          </tr>
  
       
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href=" " >Lucy Steel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">Mon 18 September 2024, 9am</td>
           
            <td class="govuk-table__cell">Telephone</td>
          </tr>
  
  
         
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href=" ">Rachel Brown</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">Tue 19 September 2024, 1pm</td>
           
            <td class="govuk-table__cell">Telephone</td>
          </tr>
          
  
        </tbody>
      </table>
  
  
          
        </div>
  
     
        
      
    
    


      

      <div class="govuk-grid-column-one-quarter" style="border-top: 2px solid #1d70b8;
      margin-top: 20px;
      padding-top: 10px;">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next   
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="edit-details">Edit</a>
            </li>
        <!--    <li>
              <a href="agent-working-location">Edit daily work location</a> -->
            </li>

            <li>
              <a href="remove-profile">Remove </a>
            </li>


           
 
         
           
   

          </ul>    
        
      </ul></div>
      
    
    
    </div>


    </div>

</div>

      </div></main>
    


{% endblock %}

