{% extends "layouts/main.html" %}



{% block pageTitle %}
Add HCP to Handsworth - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   


      <form class="form" action="amy-gill-profile-skills-updated" method="post">
       
        

            <h1 class="govuk-heading-l">
              Edit details
            </h1>


        <br>
        <div class="govuk-form-group">
        <label class="govuk-fieldset__legend--s govuk-!-font-weight-bold" for="HCP-name">
          Name
        </label>
        <p class="govuk-hint"></p>

        <input class="govuk-input govuk-!-width-two-thirds" id="HCP-name" name="HCP-name" type="text" value="Amy Gill"></div>

      
        
<!--         
  <div class="govuk-form-group">
          <label class="govuk-fieldset__legend--s govuk-!-font-weight-bold" for="HCP-name">
          Email
          </label>
          <p class="govuk-hint"></p>
  
          <input class="govuk-input govuk-!-width-two-thirds" id="HCP-name" name="HCP-name" type="text" value="amygill@domain.gov.uk"></div>
       
          
        -->

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
        <div class="govuk-grid-column-one-half" style="padding-left:0px;">
          <h2 class="govuk-heading-m">
            What are they available for?
          </h1>

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {{ govukCheckboxes({
              idPrefix: "WCA-skills",
              name: "WCA-skills",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Work Capability Assessment",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "WCA TA",
                  text: "Telephone assessment (WCA TA)",
                  checked: true
                },
                {
                  value: "WCA F2F",
                  text: "Face to face (WCA F2F)",
                  checked: true
                },
                {
                  value: "WCA CN",
                  text: "Complex neuro (WCA CN)",
                  checked: true
                }
              ]
            }) }}

          </div>
          </fieldset>
          </div>

          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {{ govukCheckboxes({
              idPrefix: "PIP-skills",
              name: "PIP-skills",
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Personal Independence Payment",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "PIP TA",
                  text: "Telephone assessment (PIP TA)",
                  checked: true
                },
                {
                  value: "PIP F2F",
                  text: "Face to face (PIP F2F)",
                  checked: true
                }
              ]
            }) }}

          </div>
          </fieldset>
          </div>


        <!-- 
<br>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  
              {{ govukCheckboxes({
                idPrefix: " ",
                name: "Work location",
                classes: "govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Work location",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "Birmingham, Handsworth",
                    text: "Birmingham, Handsworth"
                  },
                  {
                    value: "London, Tresco House",
                    text: "London, Tresco House"
                  }
                ]
              }) }}
  
            </div>
            </fieldset>
            </div> -->
  
 
      


        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    </div>
    </div>

  </main>
</div>


{% endblock %}