{% extends "layouts/main.html" %}



{% block pageTitle %}
Date and time - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full-width">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

   
      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
                
        <div class="ach-flex-main">
          <div class="main-area">
      
            
          
      
      
            <h1 id="title" class="govuk-heading-l">Choose a date and time for the appointment</h1>
      
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                    <p id="chosen-centre-label" class="govuk-body govuk-!-font-weight-bold">
                      Assessment centre:
                    </p>
                  </div>
                </div>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-three-quarters">
                    <p id="chosen-centre-address" class="govuk-body">
                      Birmingham, Handsworth </p>
                  </div>
                </div>
              </div>
      
              
      
              <div class="govuk-grid-column-one-half">
                
      
      
        
      
        
      
        <dl class="govuk-summary-list">
          
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key key-chooseDateTime-channel">
                  Appointment type
                </dt>
                <dd class="govuk-summary-list__value val-chooseDateTime-channel">
                  {{ data['assessment-channel'] }}      {% if  data['complex-neuro'] == 'Yes' %}
                  (complex neuro)
                 {% else %}
                   
                 {% endif %}  
                </dd>
                
              </div>
            
          
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key key-chooseDateTime-appointmentType">
                  Benefit
                </dt>
                <dd class="govuk-summary-list__value val-chooseDateTime-appointmentType">
                UC 
                </dd>
                
              </div>
            
          
        </dl>
      
              </div>
            </div>
            <form class="form" action="assign-hcp-while-booking" method="post">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  
      
        <table id="booking-calendar" class="dwp-cal-table">
          <thead>
            <tr>
              
                <th scope="col">Mon 5 Aug</th>
              
                <th scope="col">Tue 6 Aug</th>
              
                <th scope="col">Wed 7 Aug</th>
              
                <th scope="col">Thu 8 Aug</th>
              
                <th scope="col">Fri 9 Aug</th>
              
            </tr>
          </thead>
          <tbody>
            
              
              
                
                <tr>
                  
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1685952000000">
          <input id="time-grain-1685952000000" name="timeGrain" type="radio" value="2023-06-05T08:00:00.000Z">
          <label id="time-grain-1685952000000-label" for="time-grain-1685952000000">
            <time id="time-1685952000000" datetime="2023-06-05T08:00:00.000Z" aria-label="Monday 5 Auge 2023 at">
              9am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686038400000">
          <input id="time-grain-1686038400000" name="timeGrain" type="radio" value="2023-06-06T08:00:00.000Z">
          <label id="time-grain-1686038400000-label" for="time-grain-1686038400000">
            <time id="time-1686038400000" datetime="2023-06-06T08:00:00.000Z" aria-label="Tuesday 6 Auge 2023 at">
              9am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686124800000">
          <input id="time-grain-1686124800000" name="timeGrain" type="radio" value="2023-06-07T08:00:00.000Z">
          <label id="time-grain-1686124800000-label" for="time-grain-1686124800000">
            <time id="time-1686124800000" datetime="2023-06-07T08:00:00.000Z" aria-label="Wednesday 7 Auge 2023 at">
              9am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686211200000">
          <input id="time-grain-1686211200000" name="timeGrain" type="radio" value="2023-06-08T08:00:00.000Z">
          <label id="time-grain-1686211200000-label" for="time-grain-1686211200000">
            <time id="time-1686211200000" datetime="2023-06-08T08:00:00.000Z" aria-label="Thursday 8 Auge 2023 at">
              9am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686297600000">
          <input id="time-grain-1686297600000" name="timeGrain" type="radio" value="2023-06-09T08:00:00.000Z">
          <label id="time-grain-1686297600000-label" for="time-grain-1686297600000">
            <time id="time-1686297600000" datetime="2023-06-09T08:00:00.000Z" aria-label="Friday 9 Auge 2023 at">
              9am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                </tr>
              
                
                <tr>
                  
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1685959200000">
          <input id="time-grain-1685959200000" name="timeGrain" type="radio" value="2023-06-05T10:00:00.000Z">
          <label id="time-grain-1685959200000-label" for="time-grain-1685959200000">
            <time id="time-1685959200000" datetime="2023-06-05T10:00:00.000Z" aria-label="Monday 5 Auge 2023 at">
              11am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686045600000">
          <input id="time-grain-1686045600000" name="timeGrain" type="radio" value="2023-06-06T10:00:00.000Z">
          <label id="time-grain-1686045600000-label" for="time-grain-1686045600000">
            <time id="time-1686045600000" datetime="2023-06-06T10:00:00.000Z" aria-label="Tuesday 6 Auge 2023 at">
              11am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686132000000">
          <input id="time-grain-1686132000000" name="timeGrain" type="radio" value="2023-06-07T10:00:00.000Z">
          <label id="time-grain-1686132000000-label" for="time-grain-1686132000000">
            <time id="time-1686132000000" datetime="2023-06-07T10:00:00.000Z" aria-label="Wednesday 7 Auge 2023 at">
              11am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686218400000">
          <input id="time-grain-1686218400000" name="timeGrain" type="radio" value="2023-06-08T10:00:00.000Z">
          <label id="time-grain-1686218400000-label" for="time-grain-1686218400000">
            <time id="time-1686218400000" datetime="2023-06-08T10:00:00.000Z" aria-label="Thursday 8 Auge 2023 at">
              11am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686304800000">
          <input id="time-grain-1686304800000" name="timeGrain" type="radio" value="2023-06-09T10:00:00.000Z">
          <label id="time-grain-1686304800000-label" for="time-grain-1686304800000">
            <time id="time-1686304800000" datetime="2023-06-09T10:00:00.000Z" aria-label="Friday 9 Auge 2023 at">
              11am
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                </tr>
              
                
                <tr>
                  
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1685966400000">
          <input id="time-grain-1685966400000" name="timeGrain" type="radio" value="2023-06-05T12:00:00.000Z">
          <label id="time-grain-1685966400000-label" for="time-grain-1685966400000">
            <time id="time-1685966400000" datetime="2023-06-05T12:00:00.000Z" aria-label="Monday 5 Auge 2023 at">
              1pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686052800000">
          <input id="time-grain-1686052800000" name="timeGrain" type="radio" value="2023-06-06T12:00:00.000Z">
          <label id="time-grain-1686052800000-label" for="time-grain-1686052800000">
            <time id="time-1686052800000" datetime="2023-06-06T12:00:00.000Z" aria-label="Tuesday 6 Auge 2023 at">
              1pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686139200000">
          <input id="time-grain-1686139200000" name="timeGrain" type="radio" value="2023-06-07T12:00:00.000Z">
          <label id="time-grain-1686139200000-label" for="time-grain-1686139200000">
            <time id="time-1686139200000" datetime="2023-06-07T12:00:00.000Z" aria-label="Wednesday 7 Auge 2023 at">
              1pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686225600000">
          <input id="time-grain-1686225600000" name="timeGrain" type="radio" value="2023-06-08T12:00:00.000Z">
          <label id="time-grain-1686225600000-label" for="time-grain-1686225600000">
            <time id="time-1686225600000" datetime="2023-06-08T12:00:00.000Z" aria-label="Thursday 8 Auge 2023 at">
              1pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686312000000">
          <input id="time-grain-1686312000000" name="timeGrain" type="radio" value="2023-06-09T12:00:00.000Z">
          <label id="time-grain-1686312000000-label" for="time-grain-1686312000000">
            <time id="time-1686312000000" datetime="2023-06-09T12:00:00.000Z" aria-label="Friday 9 Auge 2023 at">
              1pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                </tr>
              
                
                <tr>
                  
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1685973600000">
          <input id="time-grain-1685973600000" name="timeGrain" type="radio" value="2023-06-05T14:00:00.000Z">
          <label id="time-grain-1685973600000-label" for="time-grain-1685973600000">
            <time id="time-1685973600000" datetime="2023-06-05T14:00:00.000Z" aria-label="Monday 5 Auge 2023 at">
              3pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686060000000">
          <input id="time-grain-1686060000000" name="timeGrain" type="radio" value="2023-06-06T14:00:00.000Z">
          <label id="time-grain-1686060000000-label" for="time-grain-1686060000000">
            <time id="time-1686060000000" datetime="2023-06-06T14:00:00.000Z" aria-label="Tuesday 6 Auge 2023 at">
              3pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686146400000">
          <input id="time-grain-1686146400000" name="timeGrain" type="radio" value="2023-06-07T14:00:00.000Z">
          <label id="time-grain-1686146400000-label" for="time-grain-1686146400000">
            <time id="time-1686146400000" datetime="2023-06-07T14:00:00.000Z" aria-label="Wednesday 7 Auge 2023 at">
              3pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686232800000">
          <input id="time-grain-1686232800000" name="timeGrain" type="radio" value="2023-06-08T14:00:00.000Z">
          <label id="time-grain-1686232800000-label" for="time-grain-1686232800000">
            <time id="time-1686232800000" datetime="2023-06-08T14:00:00.000Z" aria-label="Thursday 8 Auge 2023 at">
              3pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                    
                      <td>
                        
                        
                          
        
      
        <div id="cell-1686319200000">
          <input id="time-grain-1686319200000" name="timeGrain" type="radio" value="2023-06-09T14:00:00.000Z">
          <label id="time-grain-1686319200000-label" for="time-grain-1686319200000">
            <time id="time-1686319200000" datetime="2023-06-09T14:00:00.000Z" aria-label="Friday 9 Auge 2023 at">
              3pm
            </time>
          </label>
        </div>
      
                        
                      </td>
                    
                  
                </tr>
              
            
          </tbody>
        </table>
      
        
        <nav id="pagination-bottom">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full dwp-flex dwp-flex--space-between">
              <span id="prev-page-span-bottom" class="moj-pagination__item  moj-pagination__item--prev">
                
                  <a id="prev-page-link-bottom" class="moj-pagination__link" href="#">
                    Previous dates
                  </a>
                
              </span>
              
              &nbsp;
          
              <span id="next-page-span-bottom" class="moj-pagination__item  moj-pagination__item--next">
                
                  <a id="next-page-link-bottom" class="moj-pagination__link" href="#">
                    Next dates
                  </a>
                
              </span>
            </div>
          </div>
        </nav>
      
      
      
                </div>
              </div>
              <hr class="govuk-section-break govuk-section-break--l">
          
            
           



<br>
<br>
<div class="govuk-button-group">

  <button class="govuk-button"  data-module="govuk-button">
    Continue
  </button>



  <a class="govuk-link" href="claimant-detail">Cancel</a>
</div>


        </div>
      
      </fieldset>
    </div>

  

        </main>
      </div>

    </form>

    {% endblock %}