{% extends "layouts/main.html" %}



{% block pageTitle %}
Remove HCP - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="agent-profiles-success-removed" method="post">

      <h1 class="govuk-heading-l">Are you sure you want to remove Amy Gill?</h1>

      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Yes, remove Amy Gill
        </button>

      <div class="hidden-radio-post"> 
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="agent-profile" name="agent-profile" type="radio" value="removed" {{ checked('agent-appt', 'removed') }} checked>

              <label class="govuk-label govuk-radios__label" for="agent-profile">
                Hidden radio = Appointment cancelled
              </label>
            </div>
          </div>
   </div> 


        <a class="govuk-link" href="javascript:history.back()">Return to HCP details</a>
      </div>

      <br>
      <br>

  </div>

</div>

</main>
</div>




{% endblock %}

