{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -190px;">
  <div class="govuk-grid-column-full">
   

    <div class="govuk-width-container ">
        
        
        <a href="../manage-select" class="govuk-back-link">Back</a>

<!-- 
  <div class="govuk-grid-column-one-quarter" style="margin-top: 0px;">

    <a href="../index" class="govuk-back-link">Back</a>
    <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5" style="padding-top:20px;">
      Filters
    </h2>
    <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
      Select one or more filters to apply to the list.
    </div>
    <div class="table-filter">
<form id="filters">


 

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  
 

  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



  {{ govukCheckboxes({
  idPrefix: "assessmentCentre",
  name: "assessment-centre",
  classes: "govuk-checkboxes--small",
  fieldset: {
  legend: {
  text: "Work location",
  isPageHeading: false,
  classes: "govuk-fieldset__legend--s"
  }
  },
  items: [
  {
  id: "handsworth",
  value: "handsworth",
  text: "Birmingham, Handsworth (5)"
  },

  {
  id: "tresco",
  value: "tresco",
  text: "Birmingham, Handsworth (7)"
  }
  ]
  }) }}


     
   

  </div>
  
  </fieldset>
  
</div>


  
  </fieldset>
  
</div>





<button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>

</form>



</div> -->


  <div class="govuk-grid-column-full-width">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
       Joe Smith has been added
         </h3>
           </div>  </div>



      <form action=" " method="post" class="form" >  
       
        
        

            <h1 class="govuk-heading-l" style="padding-top:10px;">
  HCP profiles in Birmingham, Handsworth
            
           
            </h1>
         

            <button type="submit" class="govuk-button" data-module="govuk-button">
             Add a HCP
            </button>

            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row" >
                   
                   

              <th scope="col" class="govuk-table__header" style="width: 30%;">Name</th>
              <!--th scope="col" class="govuk-table__header" style="width: 10%;">Email</th-->
              <!-- <th scope="col" class="govuk-table__header" style="width: 30%;">Work location</th> -->
              <th scope="col" class="govuk-table__header" style="width: 30%;">Available for</th>
            </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row handsworth">
              
                 
                  <td class="govuk-table__cell"><a href="amy-gill-profile"> Amy Gill</a></td>
                  <!--td class="govuk-table__cell"> amygill@domain.gov.uk </td-->
                  <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>PIP F2F </li>
                      <li>  PIP TA</li> 
                     <li>   WCA CN</li> 
                     <li>    WCA F2F</li> 
                       <li> WCA TA</li> 
                     
                    </ul>
                  </td>
                  </tr>
  
  
                  <tr class="govuk-table__row tresco">
                   
                    <td class="govuk-table__cell"><a href="">Benjamin Marshall </a></td>
                    <!--td class="govuk-table__cell"> benjaminmarshall@domain.gov.uk </td-->
                    <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                     <td class="govuk-table__cell">
                      
                      <ul class="govuk-list govuk-list--bullet">
                      
                        <li>WCA F2F</li>
                        <li>WCA TA</li>
                       </ul>
                    </td>
        
        
                  </tr>
  
                      <tr class="govuk-table__row tresco">
                     
                        <td class="govuk-table__cell"><a href="">Bernhard Fischer</a></td>
                        <!--td class="govuk-table__cell"> bernhardfischer@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
            
                          <ul class="govuk-list govuk-list--bullet">
                           
                            <li>PIP F2F</li>
                            <li>PIP TA</li>
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                           </ul>
            
            
                        </td>
                        
                      </tr>
                      <tr class="govuk-table__row tresco">
                   
                        <td class="govuk-table__cell"><a href=""> 	Danny Zuko</a></td>
                        <!--td class="govuk-table__cell">dannyzuko@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">  
                          <ul class="govuk-list govuk-list--bullet">
                            <li>PIP F2F</li>
                          <li>PIP TA</li>
                           <li>WCA CN</li>
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                           </ul>
            
                          
                          </td>
                       
                      </tr>
                      <tr class="govuk-table__row handsworth">
                     
                        <td class="govuk-table__cell"><a href="">Emma Bradley</a></td>
                        <!--td class="govuk-table__cell"> emmabradley@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
            
                          <ul class="govuk-list govuk-list--bullet">
                            <li>PIP F2F</li>
                          <li>PIP TA</li>
                       
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                           </ul>
            
            
            
                        </td>
                      </tr>
                      <tr class="govuk-table__row handsworth">
                      
                        <td class="govuk-table__cell"><a href="">Frieda Döring</a></td>
                        <!--td class="govuk-table__cell"> freidadoring@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                        <td class="govuk-table__cell">  
                      
                        <ul class="govuk-list govuk-list--bullet">
                        
                   
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
            
                        </td>
                      </tr>
                      <tr class="govuk-table__row tresco">
                      
                        <td class="govuk-table__cell"><a href="">Gabriel Mello</a></td>
                        <!--td class="govuk-table__cell"> gabrielmello@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                        <td class="govuk-table__cell">
                          
                          <ul class="govuk-list govuk-list--bullet">
                         
                          
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                           </ul>
                          </td>
            
            
                      </tr>
                      <tr class="govuk-table__row handsworth">
                     
                        <td class="govuk-table__cell"><a href="">Jane Smith</a></td>
                        <!--td class="govuk-table__cell"> janesmith@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
                          
                          <ul class="govuk-list govuk-list--bullet">
                            <li>PIP F2F</li>
                          <li>PIP TA</li>
                      
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                           </ul>
            
                          </td>
                      </tr>
                      <tr class="govuk-table__row handsworth">
                        
                        <td class="govuk-table__cell"><a href="">Joe Bloggs</a></td>
                        <!--td class="govuk-table__cell"> joebloggs@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
            
                          <ul class="govuk-list govuk-list--bullet">
                            
                           <li>WCA CN</li>
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                           </ul>
            
            
            
                        </td>
                      </tr>
                      <tr class="govuk-table__row tresco">
                     
                        <td class="govuk-table__cell"><a href="">Julie Smails</a></td>
                        <!--td class="govuk-table__cell">juliesmails@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
            
            
            
                          <ul class="govuk-list govuk-list--bullet">
                           
                          <li>PIP TA</li>
                        
                           </ul>
            
                        </td> 
                      </tr>
  
  
                      <tr class="govuk-table__row tresco">
                     
                        <td class="govuk-table__cell"><a href="">Monica Anyanwu</a></td>
                        <!--td class="govuk-table__cell">monicaanyanwu@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
            
            
            
                          <ul class="govuk-list govuk-list--bullet">
                           
                            <li>WCA TA</li>
                           </ul>
            
                        </td> 
                      </tr>
  
                      <tr class="govuk-table__row tresco">
                    
                        <td class="govuk-table__cell"><a href="">Raka Banerjee</a></td>
                        <!--td class="govuk-table__cell">rakabanerjee@domain.gov.uk </td-->
                        <!-- <td class="govuk-table__cell"> Birmingham, Handsworth </td> -->
                         <td class="govuk-table__cell">
            
            
            
                          <ul class="govuk-list govuk-list--bullet">
                            <li>PIP F2F</li>
                          <li>PIP TA</li>
                         
                            <li>WCA F2F</li>
                            <li>WCA TA</li>
                         </ul>
          
                      </td> 
                    </tr>

                

                 
                  
                </tbody>
              </table>
           

     
    </form>




    <nav class="moj-pagination" >
      <ul class="moj-pagination__list" style="padding-left: 0px; width: 50%; float: left; margin-top:-10px; "> 
        <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 2" aria-current="page">1</li> 
        <li class="moj-pagination__item"><a class="moj-pagination__link" href=" " aria-label="Page 2 of 2">2</a></li>      
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href=" ">Next<span class="govuk-visually-hidden"> page</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results" style="padding-left: 0px; width:50%; float: right;  text-align: right; margin-top:-5px;">Showing <b>1</b> to <b>10</b> of <b>16</b>  profiles</p>
    </nav>

       </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>




<script> 





  function hideAllWithClass(classname) {
    document.querySelectorAll("." + classname).forEach((element) => {
      element.style.visibility = 'collapse';
    });
  }

  function showAllWithClass(classname) {
    document.querySelectorAll("." + classname).forEach((element) => {
      element.style.visibility = 'visible';
    });
  }

  document.querySelector("#filters").addEventListener("submit", function (e) {

    e.preventDefault();    //stop form from submitting

    // showAllWithClass("esa");
    // showAllWithClass("pip");
    // showAllWithClass("uc");
    showAllWithClass("tresco");
    showAllWithClass("handsworth");
    let benefitTypes = [];
    let sites = [];

    

    // if (document.getElementById('pip').checked == true || document.getElementById('esa').checked == true || document.getElementById('uc').checked == true) {
    //   if (document.getElementById('pip').checked == false) {
    //     hideAllWithClass("pip");
    //   } else {
    //     benefitTypes.push("Personal Independence Payment");
    //   }

    //   if (document.getElementById('esa').checked == false) {
    //     hideAllWithClass("esa");
    //   } else {
    //     benefitTypes.push("Employment Support Allowance");
    //   }

    //   if (document.getElementById('uc').checked == false) {
    //     hideAllWithClass("uc");
    //   } else {
    //     benefitTypes.push("Universal Credit");
    //   }
    // }

    if (document.getElementById('handsworth').checked == true || document.getElementById('tresco').checked == true) {
      if (document.getElementById('handsworth').checked == false) {
        hideAllWithClass("handsworth");
      } else {
        sites.push("Handsworth");
      }

      if (document.getElementById('tresco').checked == false) {
        hideAllWithClass("tresco");
      } else {
        sites.push('Tresco');
      }
    }

    var count = 0;
    var elemnts = document
      .querySelectorAll('.govuk-table tr').forEach((element) => {
        if (element.style.visibility === 'visible') {
          count += 1;
        }
      })

    if (count < 10) {
      document.getElementById('pagination').style.visibility = 'collapse';
    } else {
      document.getElementById('pagination').style.visibility = 'visible';
    }

    document.getElementById('paginationTotal').innerText = count;

    // var eol = document.getElementById('srel').checked ? " end of life" : "";
    // var benefitTypeString = benefitTypes.join(", ");
    // var sitesString = sites.join(", ");
    // var ifBenefitType = benefitTypes.length > 0 ? ' for ' : '';
    // var ifSites = sites.length > 0 ? ' at ' : '';

    //11 HCP review end of life referrals in PIP, ESA, UC at Birmingham Handsworth
    // var text = count + " report ready " + eol + " referrals " + ifBenefitType + benefitTypeString + ifSites + sitesString;
    var text = count + " referrals";

    document.getElementById('filter-playback').innerText = text;

    // document.getElementById('srelCount').innertext = document.querySelectorAll('.govuk-table tr.srel').length;

  });

</script>
    
    </div>


</div>


    </div>

  </main>
</div>




     <!--  <div class="govuk-grid-column-one-third"  style="margin-top: 100px;">

       <h3 class="govuk-heading-m">What you can do next </h3>
        <ul class="govuk-list">
         
   <li class="govuk-!-margin-bottom-2"><a href="add-HCP">Add HCP </a></li> 
  

  <li class="govuk-!-margin-bottom-2"><a href="../availability/existing-slots">Manage HCP availability </a></li> 



             </ul>
        
    </div>-->
  </div>

  </main>
</div>



{% endblock %}

