{% extends "layouts/main.html" %}



{% block pageTitle %}
Select agents - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">


   <a href="../day/mon-am" class="govuk-back-link">Back</a>

  <div class="govuk-grid-column-full-width">

    
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   

    

      <form action="../availability-added" method="post" class="form" >  
       
        
        

            <h1 class="govuk-heading-l" style="margin-top:-20px;">
             Set HCP available times for Monday 9am to 12pm
            
           
            </h1>
            <div class="govuk-hint">
             Edit available times
            </div>

            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row" >
                   
                   

                        
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                 
              <th scope="col" class="govuk-table__header" style="width: 20%;">Name</th>
              <th scope="col" class="govuk-table__header" style="width: 10%;">Email</th>
              <th scope="col" class="govuk-table__header" style="width: 20%;">Location</th>
              <th scope="col" class="govuk-table__header" style="width: 20%;">Skills</th>
              <th scope="col" class="govuk-table__header" style="width: 17%;">Start time</th>
              <th scope="col" class="govuk-table__header" style="width: 17%;">End time</th>
            </tr>
              </thead>
              <tbody class="govuk-table__body">

              

                {% if  data['agent-mon-am-name'].includes('Amy Gill') %} 


                <tr class="govuk-table__row handsworth">
                 
                    <td class="govuk-table__cell">Amy Gill</td>  
                    <td class="govuk-table__cell"> amygill@domain.gov.uk </td>
                    <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                    <td class="govuk-table__cell">
                      <ul class="govuk-list govuk-list--bullet">
                      <li>PIP F2F</li>
                      <li>PIP TA</li>
                     
                    </ul>
                  </td>

                  <td class="govuk-table__cell">
                  
                    <div class="time-wrapper"> 
                      <div class="time-start">
                     
                    <label class="govuk-label">
                      Start time
                    </label>
        
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="09:00">   
                    
                  </div>
                  </div>

                </td>

                <td class="govuk-table__cell">
                  <div class="time-wrapper"> 
                <div class="time-end2"> 
                  <label class="govuk-label">
                    End time
                  </label>
                  <input class="govuk-input govuk-input--width-5" id="width-5" name="amy-time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                 </div>
                </div>
                </td>


                  </tr>
                  {% endif %}




                {% if  data['agent-mon-am-name'].includes('Benjamin Marshall') %} 
                <tr class="govuk-table__row tresco">
                  
                  <td class="govuk-table__cell">Benjamin Marshall</td>
                  <td class="govuk-table__cell"> benjaminmarshall@domain.gov.uk </td>
                  <td class="govuk-table__cell"> London, Tresco House </td>
                   <td class="govuk-table__cell">
                    
                    <ul class="govuk-list govuk-list--bullet">
                      
                      <li>WCA F2F</li>
                      <li>WCA TA</li>
                     </ul>
                  </td>
      
                  <td class="govuk-table__cell">
                  
                    <div class="time-wrapper"> 
                      <div class="time-start">
                     
                    <label class="govuk-label">
                      Start time
                    </label>
        
                    <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                    
                  </div>
                  </div>

                </td>

                <td class="govuk-table__cell">
                  <div class="time-wrapper"> 
                <div class="time-end2"> 
                  <label class="govuk-label">
                    End time
                  </label>
                  <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                 </div>
                </div>
                </td>


      
                </tr>
                {% endif %}

                {% if  data['agent-mon-am-name'].includes('Bernhard Fischer') %} 
                    <tr class="govuk-table__row tresco">
                      
                      <td class="govuk-table__cell">Bernhard Fischer</td>
                      <td class="govuk-table__cell"> bernhardfischer@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                        
                          <li>PIP F2F</li>
                          <li>PIP TA</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
                      </td>

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    
    
                      
                    </tr>
                    {% endif %}

                {% if  data['agent-mon-am-name'].includes('Danny Zuko') %} 
                    <tr class="govuk-table__row tresco">
                    
                      <td class="govuk-table__cell">Danny Zuko</td>
                      <td class="govuk-table__cell">dannyzuko@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">  
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                         <li>WCA CN</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
                        
                        </td>

                        <td class="govuk-table__cell">
                  
                          <div class="time-wrapper"> 
                            <div class="time-start">
                           
                          <label class="govuk-label">
                            Start time
                          </label>
              
                          <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                          
                        </div>
                        </div>
      
                      </td>
      
                      <td class="govuk-table__cell">
                        <div class="time-wrapper"> 
                      <div class="time-end2"> 
                        <label class="govuk-label">
                          End time
                        </label>
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                       </div>
                      </div>
                      </td>
      
      
                     
                    </tr>
                    {% endif %}
                {% if  data['agent-mon-am-name'].includes('Emma Bradley') %} 
                    <tr class="govuk-table__row handsworth">
                     
                      <td class="govuk-table__cell">Emma Bradley</td>
                      <td class="govuk-table__cell"> emmabradley@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                        
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
          
                      </td>

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    

                    

                    </tr>
                    {% endif %}

                {% if  data['agent-mon-am-name'].includes('Frieda Döring') %} 
                    <tr class="govuk-table__row handsworth">
                    
                      <td class="govuk-table__cell">Frieda Döring</td>
                      <td class="govuk-table__cell"> freidadoring@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                      <td class="govuk-table__cell">  
                    
                      <ul class="govuk-list govuk-list--bullet">
                      
                      
                        <li>WCA F2F</li>
                        <li>WCA TA</li>
                       </ul>
          
                      </td>

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    

                    

                    </tr>
                    {% endif %}

                {% if  data['agent-mon-am-name'].includes('Gabriel Mello') %} 
                    <tr class="govuk-table__row tresco">
                      
                      <td class="govuk-table__cell">Gabriel Mello</td>
                      <td class="govuk-table__cell"> gabrielmello@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                      <td class="govuk-table__cell">
                        
                        <ul class="govuk-list govuk-list--bullet">
                       
                      
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
                        </td>

                        <td class="govuk-table__cell">
                  
                          <div class="time-wrapper"> 
                            <div class="time-start">
                           
                          <label class="govuk-label">
                            Start time
                          </label>
              
                          <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                          
                        </div>
                        </div>
      
                      </td>
      
                      <td class="govuk-table__cell">
                        <div class="time-wrapper"> 
                      <div class="time-end2"> 
                        <label class="govuk-label">
                          End time
                        </label>
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                       </div>
                      </div>
                      </td>
      
      
          
          
                    </tr>
                    {% endif %}

                {% if  data['agent-mon-am-name'].includes('Jane Smith') %} 
                    <tr class="govuk-table__row handsworth">
                     
                      <td class="govuk-table__cell">Jane Smith</td>
                      <td class="govuk-table__cell"> janesmith@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                       <td class="govuk-table__cell">
                        
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                        
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
                        </td>

                        <td class="govuk-table__cell">
                  
                          <div class="time-wrapper"> 
                            <div class="time-start">
                           
                          <label class="govuk-label">
                            Start time
                          </label>
              
                          <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                          
                        </div>
                        </div>
      
                      </td>
      
                      <td class="govuk-table__cell">
                        <div class="time-wrapper"> 
                      <div class="time-end2"> 
                        <label class="govuk-label">
                          End time
                        </label>
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                       </div>
                      </div>
                      </td>
      

                      

                    </tr>
                    {% endif %}

                {% if  data['agent-mon-am-name'].includes('Joe Bloggs') %} 
                    <tr class="govuk-table__row handsworth">
                     
                      <td class="govuk-table__cell">Joe Bloggs</td>
                      <td class="govuk-table__cell"> joebloggs@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                          
                         <li>WCA CN</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
          
                      </td>

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    

                    

                    </tr>
                    {% endif %}

                {% if  data['agent-mon-am-name'].includes('Julie Smails') %} 
                    <tr class="govuk-table__row tresco">
                    
                      <td class="govuk-table__cell">Julie Smails</td>
                      <td class="govuk-table__cell">juliesmails@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                         
                        <li>PIP TA</li>
                        
                        
                         </ul>
          
                      </td> 

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    
    
                    </tr>
                    {% endif %}


                {% if  data['agent-mon-am-name'].includes('Monica Anyanwu') %} 
                    <tr class="govuk-table__row tresco">
                     
                      <td class="govuk-table__cell">Monica Anyanwu </td>
                      <td class="govuk-table__cell">monicaanyanwu@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                        
                         
                          <li>WCA TA</li>
                         </ul>
          
                      </td> 

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    

                    
                    </tr>
                    {% endif %}


                {% if  data['agent-mon-am-name'].includes('Raka Banerjee') %} 
                    <tr class="govuk-table__row tresco">
                     
                      <td class="govuk-table__cell">Raka Banerjee</td>
                      <td class="govuk-table__cell">rakabanerjee@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                        
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
                      </td> 

                      <td class="govuk-table__cell">
                  
                        <div class="time-wrapper"> 
                          <div class="time-start">
                         
                        <label class="govuk-label">
                          Start time
                        </label>
            
                        <input class="govuk-input govuk-input--width-5" id="width-5" name="time-start" type="text"  aria-describedby="time-hint" autocomplete="off" value="9:00">   
                        
                      </div>
                      </div>
    
                    </td>
    
                    <td class="govuk-table__cell">
                      <div class="time-wrapper"> 
                    <div class="time-end2"> 
                      <label class="govuk-label">
                        End time
                      </label>
                      <input class="govuk-input govuk-input--width-5" id="width-5" name="time-end" type="text"  aria-describedby="time-hint"  autocomplete="off" value="12:00">
                     </div>
                    </div>
                    </td>
    

                    
                    </tr>
                    {% endif %}


                 
                  
                </tbody>
              </table>
           

        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>



    </div>


</div>


    </div>

  </main>
</div>




{% endblock %}