{% extends "layouts/main.html" %}



{% block pageTitle %}
Agent profile - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -70px;">
  <div class="govuk-grid-column-full">
   

    <div class="govuk-width-container ">
        
      <main class="govuk-main-wrapper " id="main-content" role="main">
        
        <a href="agent-profiles" class="govuk-back-link">Back</a>

        <!--    <div class="app-pane__body">

     
     


              <ul class="app-subnav__section">
    
          
    
            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Agent details <i class="chevron"></i> </a>
</li>

 
<li class="app-subnav__section-item">
  <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="amy-gill-availability">Availability<i class="chevron2"></i> </a>
  </li> 

        </ul></nav>
      </div> -->
   


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" >

   <h1 class="govuk-heading-l">
    Amy Gill's profile
    </h1>
    
    
      <div class="govuk-form-group">
    
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
    
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Amy Gill
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Email
            </dt>
            <dd class="govuk-summary-list__value">
              amygill@domain.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="border-bottom:0px;">
              Base location 
            </dt>
            <dd class="govuk-summary-list__value" style="border-bottom:0px;">
              Handsworth, Birmingham
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="border-bottom:0px;">
             Availability location
            </dt>
            <dd class="govuk-summary-list__value" style="border-bottom:0px;">
              Handsworth, Birmingham
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="border-bottom:0px;">
             Skills 
            </dt>
            <dd class="govuk-summary-list__value" style="border-bottom:0px;">

              <ul class="govuk-list govuk-list--bullet">
                <li>   PIP F2F </li>
                <li>PIP TA</li>
                
              </ul>


            
             
            </dd>
          </div>
        
        </dl>
      </div>
              
              
              
              
           
            
          
        
      </div>

      <div class="govuk-grid-column-one-third" style="margin-top: -0px;">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next   
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              <a href="agent-location">Edit agent availability location</a>
            </li>

            <li>
              <a href="agent-skills">Edit agent skills</a>
            </li>

           
 
         
           
   

          </ul>    
        
      </ul></div>

      
    
    
    </div>


    </div>

</div>

      </div></main>
    


{% endblock %}

