{% extends "layouts/main.html" %}



{% block pageTitle %}
GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   


      <form class="form" action="amy-gill-availability-updated" method="post">
       
        

     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" >
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Check details 
      </h1>
    </legend>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Type
        </dt>
        <dd class="govuk-summary-list__value">
                

                {% if  data['booked'] =='Other' %}
                {{ data['other-detail'] }}
               {% else %}
               {{ data['booked'] }} 
               {% endif %}



        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="border-bottom:0px;">
        Date and time
        </dt>
        <dd class="govuk-summary-list__value" style="border-bottom:0px;">
          
          {% if  data['time-from-hour'] %}
           
          {{ data['time-from-hour'] }}:{{ data['time-from-minute'] }}{{ data['time-from-meridiem'] }} 
       
         {% else %}
        9am
         {% endif %}


         {% if  data['date-from-date'] %}
           
         {{ data['date-from-date'] }} September  2023
      
        {% else %}
        Mon 11 September 2023
        {% endif %}
        
         
          to <br>
        
         {% if  data['time-to-hour'] %}
           
        
         {{ data['time-to-hour'] }}:{{ data['time-to-minute'] }}{{ data['time-to-meridiem'] }} 
         {% else %}
        5pm
         {% endif %}


         {% if  data['date-to-date'] %}
           
         {{ data['date-to-date'] }} September  2023
      
        {% else %}
        Fri 15 September 2023
        {% endif %}

         
         

         
         
        
        </dd>
      </div>
     
    
      <div class="govuk-summary-list__row" style="border-bottom: none;">
        <dt class="govuk-summary-list__key" style="border-bottom: none;">
    
        </dt>
        <dd class="govuk-summary-list__value" style="text-align: right; border-bottom: none;">
    
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="book-time">
              Change</a>
          </li>
    
          
    
        </dd>
    
    
      </div>
    
    </dl>
      


        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    </div>
    </div>

  </main>
</div>


{% endblock %}