{% extends "layouts/main.html" %}



{% extends "layouts/main.html" %}



{% block pageTitle %}
Select HCP - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}

  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Rachel Brown</dt>
  
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">AB 00 44 66 Z</dt>
  
        <dt class="govuk-visually-hidden">Claim status:</dt>
        <dd class="key-details-bar__status">ASSESSMENT BOOKED</dd>
      </div>
  
      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>10 August 1965</dd>
  
        <dt>Postcode:</dt>
        <dd>N7 5XX</dd>
  
       
  
      </div>
    </dl>
  </section>
  {% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

   
      <form class="form" action="view-assessment04" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select the HCP for the assessment
              </h1>
              
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="resched-hcp4" name="hcp4" type="radio" value="Amy Gill">
                <label class="govuk-label govuk-radios__label" for="hcp4">
                  Amy Gill
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcp4-2" name="hcp4" type="radio" value="Danny Travasso">
                <label class="govuk-label govuk-radios__label" for="hcp4-2">
                  Danny Travasso
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcp4-3" name="hcp4" type="radio" value="Julie Smails">
                <label class="govuk-label govuk-radios__label" for="hcp4-3">
                  Emma Bradley
                </label>
              </div>


              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcp4-4" name="hcp4" type="radio" value="Julie Smails">
                <label class="govuk-label govuk-radios__label" for="hcp4-4">
                  Julie Smails
                </label>
              </div>
             
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcp4-5" name="hcp4" type="radio" value="Raka Banerjee">
                <label class="govuk-label govuk-radios__label" for="hcp4-5">
                  Raka Banerjee
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>

          <br>
          <br>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="view-assessment04">Cancel</a>
          </div>
      </div>
    </div>
  </main>
</div>



{% endblock %}
