{% extends "layouts/main.html" %}



{% block pageTitle %}
Appointment details - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/internal-header.html" %}

  <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Lucy Steel</dt>
  
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">KW 00 32 56 C</dt>
  
        <dt class="govuk-visually-hidden">Claim status:</dt>
        <dd class="key-details-bar__status">ASSESSMENT BOOKED</dd>
      </div>
  
      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>11 July 1991</dd>
  
        <dt>Postcode:</dt>
        <dd>N5 4XX</dd>
  
       
  
      </div>
    </dl>
  </section>

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    
    
   
  
    <a href="../agents/amy-gill-appointments" class="govuk-back-link">Back</a>




    
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
     
      
      {% if  (data['hcp3'] != 'Amy Gill') %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {{ data['hcp3'] }} has been assigned to the appointment
    </h3>
  <!-- additional content if needed--> 
  <!--  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
  </div>
</div>

{% endif %} 
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Appointment details 
            </h1>
          </legend>

         
         
      
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            
             <!--  <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                 Jane Doe
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  NINO
                </dt>
                <dd class="govuk-summary-list__value">
                  RN000123
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div> -->
          
          
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Assessment centre
                </dt>
                <dd class="govuk-summary-list__value">
                  Handsworth, Birmingham
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
          
        
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
  
  
  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Appointment type
                </dt>
                <dd class="govuk-summary-list__value">
                
                Telephone
                  
                 
        
                 
                 

                  
                </dd>
                <dd class="govuk-summary-list__actions">
          <!--   <a class="govuk-link" href=" ">
                    Change<span class="govuk-visually-hidden"> the type of appointment</span>
                  </a>  -->
                </dd>
              </div>
            
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  Mon 18 September 2023, 9am
                </dd>
                <dd class="govuk-summary-list__actions">
             <!--  <a class="govuk-link" href=" ">
                    Change<span class="govuk-visually-hidden">appointment date and time</span>
                  </a> -->
                 
                </dd>
              </div>
        
  
            
        
            
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  HCP
                </dt>
                <dd class="govuk-summary-list__value">
                 
                
                  {% if  data['hcp3'] %}
                  {{ data['hcp3'] }}
                 {% else %}
                 Amy Gill
                 {% endif %} 
                
               
                
               
                
                 
                
                  
                </dd>
              
  
                <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="resched-choose-hcp3">
                    Change<span class="govuk-visually-hidden"> hcp</span>
                  </a>
                
                </dd>
              </div>
  
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional infomation
                </dt>
                <dd class="govuk-summary-list__value">
                  
  
                
                 
                 None
                 
  
                </dd>
                <dd class="govuk-summary-list__actions">
                     <a class="govuk-link" href=" ">
                    Change<span class="govuk-visually-hidden"> any additional information</span>
                  </a>
               
                </dd>
              </div>
              
            </dl>

      
          <div>

         

            <form class="form" action="cancel-assessment-others" method="post">


              <div class="govuk-button-group">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Cancel appointment
                </button>

  <div class="hidden-radio-post"> 
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="appt-lucy" name="appt" type="radio" value="Lucy Steel" {{ checked('appt', 'Lucy Steel') }} checked>

          <label class="govuk-label govuk-radios__label" for="appt-lucy">
            Hidden radio = pass this to next page. Replace name.
          </label>
        </div>
      </div>
      
</div> 

</form>
  


          
           
          </div>
      
        </fieldset>
      </div>
      </div>
    </div>
  </main>
</div>


{% endblock %}
