{% extends "layouts/main.html" %}



{% block pageTitle %}
Availability - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
   


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"  >
      
          <a href="../manage-select" class="govuk-back-link">Back</a>


   <h1 class="govuk-heading-l" style="margin-top:30px;"> 
    Appointment availability
    </h1>

   
    <h1 class="govuk-heading-m" style="margin-bottom:-30px;">  
      Monday 5 November 2023
       </h1>


<div class="govuk-form-group">

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
  <!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->
 
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Morning (9am to 12pm)
      </dt>
      <dd class="govuk-summary-list__value">
       No availability added
      </dd>

      <dd class="govuk-summary-list__value" style="width:10%;">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="week/select-hcps-mon-am">
            Add</a>
        </li>
       </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="border-bottom:0px;">
     Afternoon (1pm to 5pm)
      </dt>
      <dd class="govuk-summary-list__value" style="border-bottom:0px;">
       
     
       No availability added
      
      </dd>

      <dd class="govuk-summary-list__value" style="width:10%;">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="week/select-hcps-mon-pm">
            Add</a>
        </li>
       </dd>
    </div>
   
  
   
   
  
  </dl>





  <h1 class="govuk-heading-m" style="margin-bottom:-30px; padding-top:20px;">
   Tuesday 6 November 2023
     </h1>


<div class="govuk-form-group">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
<!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Morning (9am to 12pm) 
    </dt>
    <dd class="govuk-summary-list__value">
     No availability added
    </dd>

    <dd class="govuk-summary-list__value" style="width:10%;">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="week/select-hcps-tue-am">
          Add</a>
      </li>
     </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="border-bottom:0px;">
   Afternoon (1pm to 5pm)
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
     
   
     No availability added
    
    </dd>

    <dd class="govuk-summary-list__value">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="week/select-hcps-tue-pm">
          Add</a>
      </li>
     </dd>
  </div>
 

 
 

</dl>



<h1 class="govuk-heading-m" style="margin-bottom:-30px; padding-top:20px;">
 Wednesday 7 November 2023
    </h1>


<div class="govuk-form-group">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
<!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->

<dl class="govuk-summary-list">
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
   Morning (9am to 12pm)
   </dt>
   <dd class="govuk-summary-list__value">
    No availability added
   </dd>

   <dd class="govuk-summary-list__value" style="width:10%;">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-wed-am">
         Add</a>
     </li>
    </dd>
 </div>
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key" style="border-bottom:0px;">
  Afternoon (1pm to 5pm)
   </dt>
   <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    
  
    No availability added
   
   </dd>

   <dd class="govuk-summary-list__value">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-wed-pm">
         Add</a>
     </li>
    </dd>
 </div>





</dl>




<h1 class="govuk-heading-m" style="margin-bottom:-30px; padding-top:20px;">
  Thursday 8 November 2023
    </h1>


<div class="govuk-form-group">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
<!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->

<dl class="govuk-summary-list">
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
   Morning (9am to 12pm)
   </dt>
   <dd class="govuk-summary-list__value">
    No availability added
   </dd>

   <dd class="govuk-summary-list__value" style="width:10%;">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-thu-am">
         Add</a>
     </li>
    </dd>
 </div>
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key" style="border-bottom:0px;">
  Afternoon (1pm to 5pm)
   </dt>
   <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    
  
    No availability added
   
   </dd>

   <dd class="govuk-summary-list__value">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-thu-pm">
         Add</a>
     </li>
    </dd>
 </div>





</dl>




<h1 class="govuk-heading-m" style="margin-bottom:-30px; padding-top:20px;">
  Friday 9 November 2023
    </h1>


<div class="govuk-form-group">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
<!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->

<dl class="govuk-summary-list">
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
   Morning (9am to 12pm)
   </dt>
   <dd class="govuk-summary-list__value">
    No availability added
   </dd>

   <dd class="govuk-summary-list__value" style="width:10%;">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-fri-am">
         Add</a>
     </li>
    </dd>
 </div>
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key" style="border-bottom:0px;">
  Afternoon (1pm to 5pm)
   </dt>
   <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    
  
    No availability added
   
   </dd>

   <dd class="govuk-summary-list__value">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-fri-pm">
         Add</a>
     </li>
    </dd>
 </div>





</dl>




<h1 class="govuk-heading-m" style="margin-bottom:-30px; padding-top:20px;">
  Saturday 10 November 2023
    </h1>


<div class="govuk-form-group">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
<!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->

<dl class="govuk-summary-list">
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
   Morning (9am to 12pm)
   </dt>
   <dd class="govuk-summary-list__value">
    No availability added
   </dd>

   <dd class="govuk-summary-list__value" style="width:10%;">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-sat-am">
         Add</a>
     </li>
    </dd>
 </div>
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key" style="border-bottom:0px;">
  Afternoon (1pm to 5pm)
   </dt>
   <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    
  
    No availability added
   
   </dd>

   <dd class="govuk-summary-list__value">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-sat-pm">
         Add</a>
     </li>
    </dd>
 </div>





</dl>




<h1 class="govuk-heading-m" style="margin-bottom:-30px; padding-top:20px;">
  Sunday 11 November 2023
    </h1>


<div class="govuk-form-group">

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
<!-- <p><strong class="govuk-heading-m">Agent details</strong></p> -->

<dl class="govuk-summary-list">
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key">
   Morning (9am to 12pm)
   </dt>
   <dd class="govuk-summary-list__value">
    No availability added
   </dd>

   <dd class="govuk-summary-list__value" style="width:10%;">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-sun-am">
         Add</a>
     </li>
    </dd>
 </div>
 <div class="govuk-summary-list__row">
   <dt class="govuk-summary-list__key" style="border-bottom:0px;">
  Afternoon (1pm to 5pm)
   </dt>
   <dd class="govuk-summary-list__value" style="border-bottom:0px;">
    
  
    No availability added
   
   </dd>

   <dd class="govuk-summary-list__value">
     <li class="govuk-summary-list__actions-list-item">
       <a class="govuk-link" href="week/select-hcps-sun-pm">
         Add</a>
     </li>
    </dd>
 </div>





</dl>
</div></div></div></div></div>

</div></div></h1></div>
        

   
<div class="govuk-grid-column-one-third" style="margin-top: 70px; border: none;"> 
  <h2 class="govuk-heading-m" id="subsection-title">
     Week starting <br>5 November 2023
     </h2> 
    
 
 
     <div class="diary__date-picker-container print-hide" style="top: 0px; align-self: flex-start;">
       <div class="diary__date-navigation-container" style="font-size: 16px; line-height: 43px;">
         <a class="diary__link diary__button--previous-day" href=" ">Previous week</a>
         <a class="diary__link diary__button--today"  href=" ">This week</a>
         <a class="diary__link diary__button--next-day" href=" ">Next week</a>
       </div>
       <div class="date-picker date-picker__team-view-instance print-hide">
         <div class="date-picker__controls govuk-visually-hidden">
           <input id="date-picker" class="form-control govuk-visually-hidden" name="Date" type="hidden">
           <button class="date-picker__button" type="button">Select date</button>
         </div>
         <div class="date-picker__container date-picker__non-toggle" role="dialog" aria-label="October 2022">
           <div class="date-picker__inner">
 
             <li class="moj-pagination__item  moj-pagination__item--prev" style="float: left">
               <a class="moj-pagination__link " href=" "> </a>
             </li>
 
               <div class="month date-picker__title">November 2023</div>
 
               <li class="moj-pagination__item  moj-pagination__item--next" style="float: right">
                 <a class="moj-pagination__link" href=" "><span class="govuk-visually-hidden"> Next month</span></a>
               </li>
 
             </div>
             <table class="date-picker__table" role="application">
               <tbody>
                 <tr>
                   <th class="date-picker__cell" title="Monday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">M</span></th>
                   <th class="date-picker__cell" title="Tuesday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">T</span></th>
                   <th class="date-picker__cell" title="Wednesday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">W</span></th>
                   <th class="date-picker__cell" title="Thursday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">T</span></th>
                   <th class="date-picker__cell" title="Friday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">F</span></th>
                   <th class="date-picker__cell" title="Saturday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">S</span></th>
                   <th class="date-picker__cell" title="Sunday" role="presentation" scope="col"><span class="date-picker__cell--span" aria-hidden="true">S</span></th>
                 </tr>
               </tbody>
               <tbody>
                 <tr class="date-picker__table-row ">
                   <td class="date-picker__cell date-picker__inactive-date"><span class="date-picker__cell--span" tabindex="-1" aria-hidden="true">29</span></td>
                   <td class="date-picker__cell date-picker__inactive-date"><span class="date-picker__cell--span" tabindex="-1" aria-hidden="true">30</span></td>
                   <td class="date-picker__cell date-picker__inactive-date"><span class="date-picker__cell--span" tabindex="-1" aria-hidden="true">31</span></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >1</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >2</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >3</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >4</button></td>
                      </tr>
                 <tr class="date-picker__table-row ">
                  <td style="border: 3px solid #0b0c0c; border-right: 0;  background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">5</button></td>
                  <td style=" border: 3px solid #0b0c0c; border-right: 0;  border-left: 0; background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">6</button></td>
                  <td style=" border: 3px solid #0b0c0c; border-right: 0; border-left: 0;background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">7</button></td>   
                  <td style=" border: 3px solid #0b0c0c; border-right: 0; border-left: 0;background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">8</button></td>
                  <td style=" border: 3px solid #0b0c0c; border-right: 0;border-left: 0; background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">9</button></td>
                  <td style=" border: 3px solid #0b0c0c; border-right: 0;border-left: 0; background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">10</button></td>
                  <td style=" border: 3px solid #0b0c0c; border-left: 0; background-color: #1f5ea5;" class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" style="color: #fff;">11</button></td><tr class="date-picker__table-row ">
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >12</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >13</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >14</button></td>   
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >15</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >16</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1">17</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >18</button></td>
                    </tr>
                 <tr class="date-picker__table-row ">
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >19</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >20</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >21</button></td>   
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >22</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >23</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1">24</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >25</button></td>
                    </tr>
                 <tr class="date-picker__table-row ">
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >26</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >27</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >28</button></td>   
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >29</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1" >30</button></td>
                   <td class="date-picker__cell date-picker__selectable-date"><button class="date-picker__link" tabindex="-1">31</button></td>
                   <td class="date-picker__cell date-picker__inactive-date"><span class="date-picker__cell--span" tabindex="-1" aria-hidden="true">1</span></td>
                 
                   </tr>
                
               </tbody>
             </table>
           </div>
         </div>
       </div>
 
    <!--  <div style="padding-top: 19em;"> <p> <a href="select-hcps">Schedule availability</a></p> </div> -->
     
    
 
 
     </div>

      
    
    
    </div>


    </div>

</div>

      </div></main>
    


  
 


</div>


</main>
</div>


{% endblock %}