{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
 
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Appointment booked
              </h1>
              
            </div>
            <p class="govuk-body">Placeholder</p>
            <h2 class="govuk-heading-m">Next steps</h2>
            <p class="govuk-body">
Send confirmation to the claimant.
            </p>
            <p class="govuk-body">
             Return to <a href="../main-menu">  [consuming service name]</a>
            </p>
            
          </div>
        </div>
      </main>
    </div>

  </main>
</div>



{% endblock %}
