{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">

<a class="govuk-back-link docs-creator" href="javascript:history.go(-1)">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
        <div class="govuk-form-group">
        
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              No HCP is available for this appointment
              </h1>
            </legend>
          <br>

<p><a href="/v1/pip-ta/app-date-time">Choose a different date or time</a> to find an available HCP.</p>


</main>
</div>




{% endblock %}

