{% extends "layouts/main.html" %}



{% block pageTitle %}
Add HCP to Handsworth - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   


      <form class="form" action="check-your-answers" method="post">
       
        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you sure you want to remove the scheduled availability?
              </h1>
            </legend>


           
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Date
              </dt>
              <dd class="govuk-summary-list__value">
                Mon 5 Sep 2023 to Fri 9 2023
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="border-bottom:0px;">
             Duration
              </dt>
              <dd class="govuk-summary-list__value" style="border-bottom:0px;">
               
                Afternoon (1pm to 5pm)
               
              
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                Available HCPs
              </dt>
              <dd class="govuk-summary-list__value" style="border-bottom:0px;">
                All agents in Handsworth, except Joe Bloggs
               
              
              </dd>
            </div>
          
 </dl>
            
            
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changedName">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    </div>
    </div>

  </main>
</div>


{% endblock %}