{% extends "layouts/main.html" %}



{% block pageTitle %}
Check appointment details - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


    <div class="govuk-notification-banner govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important     
    
      </h2>
      </div>
      <div class="govuk-notification-banner__content">
     
      
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="white-space:nowrap !important;">HCP has changed</p>
       
        <p style="">The previous HCP is no longer available. Danny Zuko is now assigned to this appointment. </p>
       </div>
       
        
      </div>
      </div>
      
          <h1 class="govuk-heading-l">Check appointment details</h1>

          <!-- <h2 class="govuk-heading-m">Assesment details</h2> -->

      
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Assessment centre
              </dt>
              <dd class="govuk-summary-list__value">
                Birmingham, Handsworth
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  <span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
        
      
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Benefit
              </dt>
              <dd class="govuk-summary-list__value">
                PIP
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  <span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Appointment type
              </dt>
              <dd class="govuk-summary-list__value">
             Telephone
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="assessment-channel">
                  Change<span class="govuk-visually-hidden"> the appointment type</span>
                </a>
              </dd>
            </div>
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date and time
              </dt>
              <dd class="govuk-summary-list__value">
               Wed 7 May 2024, 11am
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="app-date-time">
                  Change<span class="govuk-visually-hidden">appointment date and time</span>
                </a>
              </dd>
            </div>
      

          
      
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                HCP
              </dt>
              <dd class="govuk-summary-list__value">Danny Zuko
               
               
                
              </dd>
            

              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="assign-hcp-while-booking">
                 Change<span class="govuk-visually-hidden"> HCP</span>
                </a>
              </dd>
            </div>

            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional information
              </dt>
              <dd class="govuk-summary-list__value">
                

                {% if  data['more-detail'] %}
                {{ data['more-detail'] }}
               {% else %}
               None
               {% endif %}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="more-info">
                  Change<span class="govuk-visually-hidden"> any additional information</span>
                </a>
              </dd>
            </div>
            
          </dl>

         
         
        
       





          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Book appointment
            </button>

            {% from "govuk/components/button/macro.njk" import govukButton %}


          </form>

         <p>  <a class="govuk-link" href="claimant-detail">Cancel</a> </p>
        </div>

       
        </div>
      </div>
    </main>
  </div>


  {% endblock %}

