{% extends "layouts/main.html" %}



{% block pageTitle %}
Cancel appointment - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-assessment-booked.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <form class="form" action="outcome-check-answers" method="post">
      <span class="govuk-caption-l">Wednesday 7 May 2025</span>

      <h1 class="govuk-heading-l" style="padding-top:10px;">
    Record outcome of Jane Doe's appointment
      
     
      </h1>
    
      <h2 class="govuk-heading-m">What was the appointment outcome?</h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appOutcome-1" name="appOutcome" type="radio" value="Claimant attended">
              <label class="govuk-label govuk-radios__label" for="appOutcome-1">
           Claimant attended
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appOutcome-2" name="appOutcome" type="radio" value="Claimant did not attend">
              <label class="govuk-label govuk-radios__label" for="appOutcome-2">
                Claimant did not attend
              </label>
            </div>
           
     


        <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appOutcome-3" name="appOutcome" type="radio" value="Claimant attended but appointment could not be completed">
              <label class="govuk-label govuk-radios__label" for="appOutcome-3">
              Claimant attended but appointment could not be completed
              </label>
            </div> 


           
         <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appOutcome-4" name="appOutcome" type="radio" value="Appointment could not be completed for another reason">
                <label class="govuk-label govuk-radios__label" for="appOutcome-4">
                  Appointment could not be completed for another reason
                </label>
              </div>
          
             

     <!--   <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appOutcome-10" name="appOutcome" type="radio" aria-controls="conditional-appOutcome" aria-expanded="true" value="Appointment could not be completed for another reason">
                
                <label class="govuk-label govuk-radios__label" for="appOutcome">
                  Appointment could not be completed for another reason
                </label>
              </div>

              <div class="govuk-radios__conditional" id="conditional-appOutcome">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="appOutcome-10">
                    Reason for cancellation
                  </label>

                  <input class="govuk-input govuk-!-width-one-half" id="appOutcome-other" name="appOutcome-other" type="text" value="" autocomplete="off">
                </div>
              </div>
            </div> -->


          </div>
        </fieldset>
      </div>
      


      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
        <div class="govuk-form-group">
          <label class="govuk-heading-s" for="action">
            Can you provide more detail?
          </label>
    
          <textarea class="govuk-textarea govuk-js-character-count" id="action" name="outcome-additional-details" rows="3" aria-describedby="action-info"></textarea><div id="action-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 150 characters remaining</div>
          
          
        </div>
      </div>



      <div class="govuk-button-group">
        <button class="govuk-button govuk-button" data-module="govuk-button">
       Continue
        </button>



        <a class="govuk-link" href="view-appt02">Return to appointment details</a>
      </div>

      <br>
      <br>

  </div>

</div>

</main>
</div>




{% endblock %}

