{% extends "layouts/main.html" %}



{% block pageTitle %}
WCA complex neuro - GOV.UK prototype
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <form class="form" action="app-date-time" method="post">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "complex-neuro",
            name: "complex-neuro",
            fieldset: {
              legend: {
                text: "Is this a complex neuro case?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },hint: {
              text: "This will require a doctor trained in WCA complex neuro"
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

          <br>
          <br>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="view-assessment01">Cancel</a>
          </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
