{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
        <div class="govuk-form-group">
        
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
          Sorry, there is a problem
              </h1>
            </legend>
          <br>

<p>Appointment availability could not be added for:</p>
<ul class="govuk-list govuk-list--bullet"><li>[agent name]</li></ul>
<p>Try again. They may be temporarily unavailable.</p>
<p>If the problem persists and you can see no reason for this, report the incident to your manager. </p>
<p>Continue to add more <a href="">appointment availability</a>.</p>

</main>
</div>




{% endblock %}

