{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
 

    <h3 class="govuk-heading-l">
     Check appointment details
  </h3>


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Appointment location
      </dt>
      <dd class="govuk-summary-list__value">
      Newcastle Front Office
      </dd>
      <dd class="govuk-summary-list__actions">
       <!--  <a class="govuk-link govuk-link--no-visited-state" href="details">
          Change
        </a> -->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Appointment type
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['type'] }} 
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="details">
          Change
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Channel
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['channel'] }} 
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="details">
          Change
        </a>
      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Date and time
      </dt>
      <dd class="govuk-summary-list__value">
        Monday 10 November 2023 at 1:00pm
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="times-available">
        Change
        </a>
      </dd>
    </div>



  </dl>

  <form class="form" action="done-page" method="post">

      
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Book appointment
      </button>
      <a class="govuk-link" href="claimant-detail">Cancel</a>
    </div>
</form>
      
   
    </div>
  </div>

  </main>
</div>



{% endblock %}
