{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="claimant-detail"  class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
    <h1 class="govuk-heading-l">
      Appointment details
  
      </h1>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <form class="form" action="times-available" method="post">

      
    



        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
          Select appointment type
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="typee" name="type" type="radio" value="PIP">
            <label class="govuk-label govuk-radios__label" for="type">
          PIP
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="type-2" name="type" type="radio" value="Other" data-aria-controls="conditional-type-2">
            <label class="govuk-label govuk-radios__label" for="type-2">
             Other
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-type-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
               Enter appointment type
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
            </div>
          </div>
         
         
      
        </div>



<br>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
          Select appointment channel
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="channel" name="channel" type="radio" value="Face to face">
            <label class="govuk-label govuk-radios__label" for="type">
         Face to face
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="channel-2" name="channel" type="radio" value="Telephone">
            <label class="govuk-label govuk-radios__label" for="channel-2">
            Telephone
            </label>
          </div>
         


<br>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
          Select appointment location
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="location" name="location" type="radio" value="Handsworth">
            <label class="govuk-label govuk-radios__label" for="location">
         Handworth, Birmingham
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="location-2" name="location" type="radio" value="Other" data-aria-controls="conditional-location-2">
            <label class="govuk-label govuk-radios__label" for="location-2">
             Other
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-location-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
              Alternative location
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="location-text" name="location">
            </div>
          </div>
         
         
      
        </div>


         
      
        </div>


      </fieldset>
    </div>

  



    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link" href="claimant-detail">Cancel</a>
    </div>

  </div>

  </main>
</div>



{% endblock %}
