{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
    <h1 class="govuk-heading-l">
      Appointments available
    </h1>


    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous week</span></a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="next"> <span class="govuk-pagination__link-title">Next week</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>


    <form class="form" action="check-answers" method="post">
    <div class="govuk-tabs " data-module="govuk-tabs">
      <ul class="govuk-tabs__list " role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#monday" id="tab_monday" role="tab" aria-controls="monday" aria-selected="true" tabindex="0">
            <strong>Monday</strong><br>
            6 Nov 2023<br><br>
            10 slots
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#tuesday" id="tab_tuesday" role="tab" aria-controls="tuesday" aria-selected="false" tabindex="-1">
            <strong>Tuesday</strong><br>
            7 Nov 2023<br><br>
            17 slots
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#wednesday" id="tab_wednesday" role="tab" aria-controls="wednesday" aria-selected="false" tabindex="-1">
            <strong>Wednesday</strong><br>
            8 Nov 2023<br><br>
            22 slots
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#thursday" id="tab_thursday" role="tab" aria-controls="thursday" aria-selected="false" tabindex="-1">
            <strong>Thursday</strong><br>
            9 Nov 2023<br><br>
            5 slots
          </a>
        </li>
        <li class="govuk-tabs__list-item" style="text-align: left;" role="presentation">
          <a class="govuk-tabs__tab" href="#friday" id="tab_friday" role="tab" aria-controls="friday" aria-selected="false" tabindex="-1">
            <strong>Friday</strong><br>
            10 Nov 2023<br><br>
            0 slots
          </a>
        </li>

      </ul>
      <div class="govuk-tabs__panel" id="monday" role="tabpanel" aria-labelledby="tab_monday">
        <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Monday morning
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-18" name="app-time" type="radio" value="10:40am">
      <label class="govuk-label govuk-radios__label" for="app-time-18">
        10:40am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-19" name="app-time" type="radio" value="10:50am">
      <label class="govuk-label govuk-radios__label" for="app-time-19">
        10:50am
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-20" name="app-time" type="radio" value="11:20am">
      <label class="govuk-label govuk-radios__label" for="app-time-20">
        11:20am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-21" name="app-time" type="radio" value="11:30am">
      <label class="govuk-label govuk-radios__label" for="app-time-21">
        11:30am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-22" name="app-time" type="radio" value="11:40am">
      <label class="govuk-label govuk-radios__label" for="app-time-22">
        11:40am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-23" name="app-time" type="radio" value="11:50am">
      <label class="govuk-label govuk-radios__label" for="app-time-23">
        11:50am
      </label>
    </div>
  </div>

</fieldset>
</div>
</div>

<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Monday afternoon
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-24" name="app-time" type="radio" value="1:00pm">
      <label class="govuk-label govuk-radios__label" for="app-time-24">
        1:00pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-25" name="app-time" type="radio" value="1:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-25">
        1:10pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-26" name="app-time" type="radio" value="3:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-26">
        3:20pm
      </label>
    </div>


    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-27a" name="app-time" type="radio" value="5:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-27a">
        5:10pm
      </label>
    </div>


  </div>

</fieldset>
</div>
</div>
</div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tuesday" role="tabpanel" aria-labelledby="tab_tuesday">
        <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Tuesday morning
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time" name="app-time" type="radio" value="9:00am">
      <label class="govuk-label govuk-radios__label" for="app-time">
        9:00am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="9:10am">
      <label class="govuk-label govuk-radios__label" for="app-time-2">
        9:10am
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-3" name="app-time" type="radio" value="9:50am">
      <label class="govuk-label govuk-radios__label" for="app-time-3">
        9:50am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-4" name="app-time" type="radio" value="10:00am">
      <label class="govuk-label govuk-radios__label" for="app-time-4">
        10:00am
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-5" name="app-time" type="radio" value="10:30am">
      <label class="govuk-label govuk-radios__label" for="app-time-5">
        10:30am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-6" name="app-time" type="radio" value="10:40am">
      <label class="govuk-label govuk-radios__label" for="app-time-6">
        10:40am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-7" name="app-time" type="radio" value="10:50am">
      <label class="govuk-label govuk-radios__label" for="app-time-7">
        10:50am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-8" name="app-time" type="radio" value="11:00am">
      <label class="govuk-label govuk-radios__label" for="app-time-8">
        11:00am
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-9" name="app-time" type="radio" value="11:40am">
      <label class="govuk-label govuk-radios__label" for="app-time-9">
        11:40am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-10" name="app-time" type="radio" value="11:50am">
      <label class="govuk-label govuk-radios__label" for="app-time-10">
        11:50am
      </label>
    </div>
  </div>

</fieldset>
</div>
</div>

<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Tuesday afternoon
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-11" name="app-time" type="radio" value="1:00pm">
      <label class="govuk-label govuk-radios__label" for="app-time-11">
        1:00pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-12" name="app-time" type="radio" value="1:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-12">
        1:10pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-13" name="app-time" type="radio" value="1:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-13">
        1:20pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-14" name="app-time" type="radio" value="2:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-14">
        2:20pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-15" name="app-time" type="radio" value="2:30pm">
      <label class="govuk-label govuk-radios__label" for="app-time-15">
        2:30pm
      </label>
    </div>


    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-16" name="app-time" type="radio" value="4:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-16">
        4:10pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-17" name="app-time" type="radio" value="4:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-17">
        4:20pm
      </label>
    </div>

  </div>

</fieldset>
</div>
</div>
</div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="wednesday" role="tabpanel" aria-labelledby="tab_wednesday">
        <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Wednesday morning
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-27" name="app-time" type="radio" value="9:00am">
      <label class="govuk-label govuk-radios__label" for="app-time-27">
        9:00am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-28" name="app-time" type="radio" value="9:10am">
      <label class="govuk-label govuk-radios__label" for="app-time-28">
        9:10am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-29" name="app-time" type="radio" value="9:20am">
      <label class="govuk-label govuk-radios__label" for="app-time-29">
        9:20am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-30" name="app-time" type="radio" value="9:30am">
      <label class="govuk-label govuk-radios__label" for="app-time-30">
        9:30am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-31" name="app-time" type="radio" value="9:40am">
      <label class="govuk-label govuk-radios__label" for="app-time-31">
        9:40am
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-32" name="app-time" type="radio" value="9:50am">
      <label class="govuk-label govuk-radios__label" for="app-time-32">
        9:50am
      </label>
    </div>


  </div>

</fieldset>
</div>
</div>

<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Wednesday afternoon
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-33" name="app-time" type="radio" value="1:00pm">
      <label class="govuk-label govuk-radios__label" for="app-time-33">
        1:00pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-34" name="app-time" type="radio" value="1:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-34">
        1:10pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-34a" name="app-time" type="radio" value="1:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-34a">
        1:20pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-35" name="app-time" type="radio" value="1:40pm">
      <label class="govuk-label govuk-radios__label" for="app-time-35">
        1:40pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-36" name="app-time" type="radio" value="2:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-36">
        2:10pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-37" name="app-time" type="radio" value="2:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-37">
        2:20pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-38" name="app-time" type="radio" value="2:30pm">
      <label class="govuk-label govuk-radios__label" for="app-time-38">
        2:30pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-39" name="app-time" type="radio" value="2:40pm">
      <label class="govuk-label govuk-radios__label" for="app-time-39">
        2:40pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-40" name="app-time" type="radio" value="2:50pm">
      <label class="govuk-label govuk-radios__label" for="app-time-40">
        2:50pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-41" name="app-time" type="radio" value="3:00pm">
      <label class="govuk-label govuk-radios__label" for="app-time-41">
        3:00pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-42" name="app-time" type="radio" value="3:50pm">
      <label class="govuk-label govuk-radios__label" for="app-time-42">
        3:50pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-43" name="app-time" type="radio" value="4:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-43">
        4:10pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-44" name="app-time" type="radio" value="4:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-44">
        4:20pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-45" name="app-time" type="radio" value="4:30pm">
      <label class="govuk-label govuk-radios__label" for="app-time-45">
        4:30pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-46" name="app-time" type="radio" value="5:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-46">
        5:20pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-47" name="app-time" type="radio" value="5:30pm">
      <label class="govuk-label govuk-radios__label" for="app-time-47">
        5:30pm
      </label>
    </div>

  </div>

</fieldset>
</div>
</div>
</div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="thursday" role="tabpanel" aria-labelledby="tab_thursday">
        <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Thursday morning
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-48" name="app-time" type="radio" value="9:00am">
      <label class="govuk-label govuk-radios__label" for="app-time-48">
        9:00am
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-49" name="app-time" type="radio" value="11:10am">
      <label class="govuk-label govuk-radios__label" for="app-time-49">
        11:10am
      </label>
    </div>

  </div>

</fieldset>
</div>
</div>

<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Thursday afternoon
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-50" name="app-time" type="radio" value="2:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-50">
        2:10pm
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-51" name="app-time" type="radio" value="3:10pm">
      <label class="govuk-label govuk-radios__label" for="app-time-51">
        3:10pm
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="app-time-52" name="app-time" type="radio" value="3:20pm">
      <label class="govuk-label govuk-radios__label" for="app-time-52">
        3:20pm
      </label>
    </div>


  </div>

</fieldset>
</div>
</div>
</div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="friday" role="tabpanel" aria-labelledby="tab_friday">
        <p>No slots available on Friday</p>

      </div>
    </div>

    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous week</span></a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#8" rel="next"> <span class="govuk-pagination__link-title">Next week</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>


    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link" href="claimant-detail">Cancel</a>
    </div>


      
    </div>
  </div>

  </main>
</div>



{% endblock %}
