{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}
  <!-- {% include "includes/quick-reference.html" %} -->


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">  
  
 
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">


  <div class="govuk-grid-column-one-quarter" style="margin-top: -40px;">
                    


    <nav class="dwp-side-navigation" aria-label="Side" role="navigation">
        <ul class="dwp-side-navigation__list">
            
                
                
                <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
                  <a id="referral-overview" href="/ui-workflow_qa01_workflow/referrals/d2bc30c2-8ee8-4aa4-9361-30e9a11ed622" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
                      Referral overview
                  </a>
                  
                    <ul class="dwp-side-navigation__list dwp-side-navigation__list--sub-item">
                      
                        <li class="dwp-side-navigation__sub-item">
                          <a href="#" class="dwp-side-navigation__link">
                            Referral details
                          </a>
                        </li>
                      
                    </ul>
                  
                </li>
            
                
                
                <li class="dwp-side-navigation__item">
                  <a id="claimant-details" href=" " class="dwp-side-navigation__link">
                      Claimant details
                  </a>
                  
                </li>
            
        </ul>
    </nav>
    
    
                    </div>


  <div class="govuk-grid-column-one-half" style="margin-top: -40px;">




    <h1 class="govuk-heading-m" style="padding-top:20px;">Referral details  </h1>
       

      </h1>


      <dl class="govuk-summary-list" id="referral-details">

  
        <div class="govuk-summary-list__row srel">
          <dt class="govuk-summary-list__key">
            Special rules end of life
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          
          <dd class="govuk-summary-list__actions">
                  <a class="govuk-link change" href="#">Change<span class="govuk-visually-hidden"> special rules end of life</span></a>
            
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row consent">
          <dt class="govuk-summary-list__key">
            Consent for medical evidence
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          
          <dd class="govuk-summary-list__actions">
                  <a class="govuk-link change" href="#">Change<span class="govuk-visually-hidden"> medical evidence consent</span></a>
            
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row kcis">
          <dt class="govuk-summary-list__key">
            Safety measures
          </dt>
          <dd class="govuk-summary-list__value">
            Not known
          </dd>
          
          <dd class="govuk-summary-list__actions">
                  <a class="govuk-link change" href="#">Change<span class="govuk-visually-hidden"> safety measures</span></a>
            
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row mental-health-condition">
          <dt class="govuk-summary-list__key">
            Additional support needs
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          
          <dd class="govuk-summary-list__actions">
                  <a class="govuk-link change" href="#">Change<span class="govuk-visually-hidden"> mental health</span></a>
            
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions referral-date">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            8 Feb 2025
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions benefit-type">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            PIP
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions referral-type">
          <dt class="govuk-summary-list__key">
            Referral type
          </dt>
          <dd class="govuk-summary-list__value">
            New referral
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions site-name">
          <dt class="govuk-summary-list__key">
            Assessment centre
          </dt>
          <dd class="govuk-summary-list__value">
            Birmingham, Handsworth
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions caseload-name">
          <dt class="govuk-summary-list__key">
            Caseload
          </dt>
          <dd class="govuk-summary-list__value">
            E2E Caseload
          </dd>
          
        </div>
        
      
        
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions next-action-due-date">
          <dt class="govuk-summary-list__key">
            Next action due in
          </dt>
          <dd class="govuk-summary-list__value">
            1 Day
          </dd>
          
        </div>
        
      
      </dl>


      
     
        <br>
     
  
      

    

    
    </div>

    <div class="govuk-grid-column-one-quarter"  style="margin-top: -40px;">

      <h3 class="govuk-heading-m">What you can do next</h3>
      <ul class="govuk-list">
         

      <li class="govuk-!-margin-bottom-2"><a href=" ">   Update status </a></li> 





      {% if  (data['apptbooked']   == 'yes') or (data['apptbooked']   == 'cancelled') %}

      <li class="govuk-!-margin-bottom-2"><a href="current-assessments">Book or view appointments </a></li> 

      {% else %} 
      <li class="govuk-!-margin-bottom-2"><a href="assessment-channel">Book or view appointments </a></li> 

      {% endif %} 


   
     
      <li class="govuk-!-margin-bottom-2"><a href="#">View timeline </a></li> 
      <li class="govuk-!-margin-bottom-2"><a href="#">Add entry to timeline </a></li> 
      <li class="govuk-!-margin-bottom-2"><a href="#">View claimant documents </a></li> 
      <li class="govuk-!-margin-bottom-2"><a href="#">Move to another caseload </a></li> 
          </ul>
       
      
    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
