{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">


  <div class="govuk-grid-column-one-quarter" style="margin-top: 0px;">

 
  <a href="../availability-view" class="govuk-back-link">Back</a>


    <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5" style="padding-top:20px;">
      Filters
    </h2>
    <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
      Select one or more filters to apply to the list.
    </div>
    <div class="table-filter">
<form id="filters">


 

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  
 

  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


<!-- 
  {{ govukCheckboxes({
  idPrefix: "benefitType",
  name: "benefit-type",
  classes: "govuk-checkboxes--small",
  fieldset: {
  legend: {
  text: "Skills",
  isPageHeading: false,
  classes: "govuk-fieldset__legend--s"
  }
  },
  items: [
  {
  id: "esa",
  value: "esa",
  text: "Employment Support Allowance (13)"
  },
  {
  id: "pip",
  value: "pip",
  text: "Personal Independence Payment (25)"
  },
  {
  id: "uc",
  value: "uc",
  text: "Universal Credit (22)"
  }
  ]
  }) }} -->

  {{ govukCheckboxes({
  idPrefix: "assessmentCentre",
  name: "assessment-centre",
  classes: "govuk-checkboxes--small",
  fieldset: {
  legend: {
  text: "Office location",
  isPageHeading: false,
  classes: "govuk-fieldset__legend--s"
  }
  },
  items: [
  {
  id: "handsworth",
  value: "handsworth",
  text: "Birmingham, Handsworth"
  },

  {
  id: "tresco",
  value: "tresco",
  text: "London, Tresco House"
  }
  ]
  }) }}


  {{ govukCheckboxes({
    idPrefix: "assessmentSkills",
    name: "assessment-skills",
    classes: "govuk-checkboxes--small",
    fieldset: {
    legend: {
    text: "Skills",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    id: "PIPF2F",
    value: "PIPF2F",
    text: "PIP F2F"
    },
  
    {
    id: "PIPTA",
    value: "PIPTA",
    text: "PIP TA"
    },
  
    {
    id: "WCACN",
    value: "WCACN",
    text: "WCA CN"
    },
  
    {
    id: "WCAF2F",
    value: "WCAF2F",
    text: "WCA F2F"
    },
  
    {
    id: "WCATA",
    value: "WCATA",
    text: "WCA TA"
    }
    ]
    }) }}


     
   

  </div>
  
  </fieldset>
  
</div>


  
  </fieldset>
  
</div>





<button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>

</form>



</div>


  <div class="govuk-grid-column-three-quarters">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   

    

      <form action="../time/times-mon-am" method="post" class="form" >  
       
        
        <span class="govuk-caption-l">Monday 15 January 2024</span>

            <h1 class="govuk-heading-l" style="padding-top:10px;">
             Who is available in the morning? 
            
           
            </h1>
            <div class="govuk-hint">
              Select all that apply.
            </div>

            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row" >
                   
                   

                        
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item" >
                      <input class="govuk-checkboxes__input" type="checkbox" value="All members in Handsworth" name="select-all" id="select-all">
                      <label class="govuk-label govuk-checkboxes__label" for="member"> </label>
                  




          
                      <th class="govuk-table__header" scope="col" id="select-all">
                
            
              
              </th> </div>
              <th scope="col" class="govuk-table__header" style="width: 30%;">Name</th>
              <th scope="col" class="govuk-table__header" style="width: 10%;">Email</th>
              <th scope="col" class="govuk-table__header" style="width: 20%;">Office location</th> 
              <th scope="col" class="govuk-table__header" style="width: 30%;">Skills</th>
            </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row handsworth">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-1" name="agent-mon-am-name" type="checkbox" value="Amy Gill"  {{ checked("agent-mon-am-name", "Amy Gill") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-1">
               
                      </label>
                    </div>
                  </td>

                 
                    <td class="govuk-table__cell">Amy Gill</td>
                    <td class="govuk-table__cell"> amygill@domain.gov.uk </td>
                    <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                    <td class="govuk-table__cell">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>PIP F2F </li>
                        <li>  PIP TA</li> 
                       <li>   WCA CN</li> 
                       <li>    WCA F2F</li> 
                         <li> WCA TA</li> 
                        
                      </ul>
                  </td>
                  </tr>



                <tr class="govuk-table__row tresco">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                      <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-2" name="agent-mon-am-name" type="checkbox" value="Benjamin Marshall" {{ checked("agent-mon-am-name", "Benjamin Marshall") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-2">
               
                      </label>
                    </div>
                  </td>
                  <td class="govuk-table__cell">Benjamin Marshall</td>
                  <td class="govuk-table__cell"> benjaminmarshall@domain.gov.uk </td>
                  <td class="govuk-table__cell"> London, Tresco House </td>
                   <td class="govuk-table__cell">
                    
                    <ul class="govuk-list govuk-list--bullet">
                      
                      <li>WCA TA</li>
                     </ul>
                  </td>
      
      
                </tr>

                    <tr class="govuk-table__row tresco">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-3"  name="agent-mon-am-name" type="checkbox" value="Bernhard Fischer" {{ checked("agent-mon-am-name", "Bernhard Fischer") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-3">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Bernhard Fischer</td>
                      <td class="govuk-table__cell"> bernhardfischer@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                        
                          <li>PIP F2F</li>
                          <li>PIP TA</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
                      </td>
                      
                    </tr>
                    <tr class="govuk-table__row tresco">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-4" name="agent-mon-am-name" type="checkbox" value="Danny Zuko" {{ checked("agent-mon-am-name", "Danny Zuko") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-4">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Danny Zuko</td>
                      <td class="govuk-table__cell">dannyzuko@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">  
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                         <li>WCA CN</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
                        
                        </td>
                     
                    </tr>
                    <tr class="govuk-table__row handsworth">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-5" name="agent-mon-am-name" type="checkbox" value="Emma Bradley" {{ checked("agent-mon-am-name", "Emma Bradley") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-5">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Emma Bradley</td>
                      <td class="govuk-table__cell"> emmabradley@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                        
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
          
                      </td>
                    </tr>
                    <tr class="govuk-table__row handsworth">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-6" name="agent-mon-am-name" type="checkbox" value="Frieda Döring" {{ checked("agent-mon-am-name", "Frieda Döring") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-6">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Frieda Döring</td>
                      <td class="govuk-table__cell"> freidadoring@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                      <td class="govuk-table__cell">  
                    
                      <ul class="govuk-list govuk-list--bullet">
                      
                      
                        <li>WCA F2F</li>
                        <li>WCA TA</li>
                       </ul>
          
                      </td>
                    </tr>
                    <tr class="govuk-table__row tresco">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-7" name="agent-mon-am-name" type="checkbox" value="Gabriel Mello" {{ checked("agent-mon-am-name", "Gabriel Mello") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-7">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Gabriel Mello</td>
                      <td class="govuk-table__cell"> gabrielmello@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                      <td class="govuk-table__cell">
                        
                        <ul class="govuk-list govuk-list--bullet">
                       
                      
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
                        </td>
          
          
                    </tr>
                    <tr class="govuk-table__row handsworth">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-8" name="agent-mon-am-name" type="checkbox" value="Jane Smith" {{ checked("agent-mon-am-name", "Jane Smith") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-8">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Jane Smith</td>
                      <td class="govuk-table__cell"> janesmith@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                       <td class="govuk-table__cell">
                        
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                        
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
                        </td>
                    </tr>
                    <tr class="govuk-table__row handsworth">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-9" name="agent-mon-am-name" type="checkbox" value="Joe Bloggs" {{ checked("agent-mon-am-name", "Joe Bloggs") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-9">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Joe Bloggs</td>
                      <td class="govuk-table__cell"> joebloggs@domain.gov.uk </td>
                      <td class="govuk-table__cell"> Birmingham, Handsworth </td>
                       <td class="govuk-table__cell">
          
                        <ul class="govuk-list govuk-list--bullet">
                          
                         <li>WCA CN</li>
                          <li>WCA F2F</li>
                          <li>WCA TA</li>
                         </ul>
          
          
          
                      </td>
                    </tr>
                    <tr class="govuk-table__row tresco">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-10" name="agent-mon-am-name" type="checkbox" value="Julie Smails" {{ checked("agent-mon-am-name", "Julie Smails") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-10">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Julie Smails</td>
                      <td class="govuk-table__cell">juliesmails@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                         
                        <li>PIP TA</li>
                        
                        
                         </ul>
          
                      </td> 
                    </tr>


                    <tr class="govuk-table__row tresco">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-11" name="agent-mon-am-name" type="checkbox" value="Monica Anyanwu" {{ checked("agent-mon-am-name", "Monica Anyanwu") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-11">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Monica Anyanwu </td>
                      <td class="govuk-table__cell">monicaanyanwu@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                        
                         
                          <li>WCA TA</li>
                         </ul>
          
                      </td> 
                    </tr>

                    <tr class="govuk-table__row tresco">
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" id="agent-mon-am-12" name="agent-mon-am-name" type="checkbox" value="Raka Banerjee" {{ checked("agent-mon-am-name", "Raka Banerjee") }}>
                          <label class="govuk-label govuk-checkboxes__label" for="agent-mon-am-12">
                   
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell">Raka Banerjee</td>
                      <td class="govuk-table__cell">rakabanerjee@domain.gov.uk </td>
                      <td class="govuk-table__cell"> London, Tresco House </td>
                       <td class="govuk-table__cell">
          
          
          
                        <ul class="govuk-list govuk-list--bullet">
                          <li>PIP F2F</li>
                        <li>PIP TA</li>
                        
                          <li>WCA F2F</li>
                          <li>WCA TA</li> 
                    
                         </ul>
          
                      </td> 
                    </tr>



                 
                  
                </tbody>
              </table>
           

        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>




<script> 

$('#select-all').click(function(event) {   
  if(this.checked) {
      // Iterate each checkbox
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
  } else {
      $(':checkbox').each(function() {
          this.checked = false;                       
      });
      
  }
}); 




  function hideAllWithClass(classname) {
    document.querySelectorAll("." + classname).forEach((element) => {
      element.style.visibility = 'collapse';
    });
  }

  function showAllWithClass(classname) {
    document.querySelectorAll("." + classname).forEach((element) => {
      element.style.visibility = 'visible';
    });
  }

  document.querySelector("#filters").addEventListener("submit", function (e) {

    e.preventDefault();    //stop form from submitting

    // showAllWithClass("esa");
    // showAllWithClass("pip");
    // showAllWithClass("uc");
    showAllWithClass("tresco");
    showAllWithClass("handsworth");
    let benefitTypes = [];
    let sites = [];

    

    // if (document.getElementById('pip').checked == true || document.getElementById('esa').checked == true || document.getElementById('uc').checked == true) {
    //   if (document.getElementById('pip').checked == false) {
    //     hideAllWithClass("pip");
    //   } else {
    //     benefitTypes.push("Personal Independence Payment");
    //   }

    //   if (document.getElementById('esa').checked == false) {
    //     hideAllWithClass("esa");
    //   } else {
    //     benefitTypes.push("Employment Support Allowance");
    //   }

    //   if (document.getElementById('uc').checked == false) {
    //     hideAllWithClass("uc");
    //   } else {
    //     benefitTypes.push("Universal Credit");
    //   }
    // }

    if (document.getElementById('handsworth').checked == true || document.getElementById('tresco').checked == true) {
      if (document.getElementById('handsworth').checked == false) {
        hideAllWithClass("handsworth");
      } else {
        sites.push("Handsworth");
      }

      if (document.getElementById('tresco').checked == false) {
        hideAllWithClass("tresco");
      } else {
        sites.push('Tresco');
      }
    }

    var count = 0;
    var elemnts = document
      .querySelectorAll('.govuk-table tr').forEach((element) => {
        if (element.style.visibility === 'visible') {
          count += 1;
        }
      })

    // if (count < 20) {
    //   document.getElementById('pagination').style.visibility = 'collapse';
    // } else {
    //   document.getElementById('pagination').style.visibility = 'visible';
    // }

    // document.getElementById('paginationTotal').innerText = count;

    // var eol = document.getElementById('srel').checked ? " end of life" : "";
    // var benefitTypeString = benefitTypes.join(", ");
    // var sitesString = sites.join(", ");
    // var ifBenefitType = benefitTypes.length > 0 ? ' for ' : '';
    // var ifSites = sites.length > 0 ? ' at ' : '';

    //11 HCP review end of life referrals in PIP, ESA, UC at Birmingham Handsworth
    // var text = count + " report ready " + eol + " referrals " + ifBenefitType + benefitTypeString + ifSites + sitesString;
    var text = count + " referrals";

    document.getElementById('filter-playback').innerText = text;

    // document.getElementById('srelCount').innertext = document.querySelectorAll('.govuk-table tr.srel').length;

  });

</script>
    
    </div>


</div>


    </div>

  </main>
</div>




{% endblock %}