{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <a href="../index" class="govuk-back-link" style="margin-top:-20px;">Back</a>

       

      <h1 class="govuk-heading-l">
       V3: In progress
      </h1>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a href="main-menu">Health Assessment Service main menu</a>
           </li>
          
      </ul>



      <p class="govuk-body-l">Jump to section</p>
      <ul class="govuk-list">
       


        <li>
          <a href="availability-management/manage-select">    Availability: Manage agents and availability </a><br>
         




     

    </div>
  </div>


        </main>
      </div>


      {% endblock %}

