{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <a href="../index" class="govuk-back-link" style="margin-top:-20px;">Back</a>

       

      <h1 class="govuk-heading-l">
       V3
      </h1>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a href="main-menu">Health Assessment Service main menu</a>
           </li>
          
      </ul>

      <h1 class="govuk-heading-s">
        Jump to availability section:
       </h1>


     
        <p> <a href="availability-management/manage-select">    Availability: Manage agents and availability </a></p>
         




<h2 class="govuk-heading-s">
  Additional design pages
 </h2>

 <ul class="govuk-list govuk-list--bullet"> 

  
      <li>
       <a href="availability-management/agents/no-location-agents"> Filter agent location: no agents</a>
    
        </li>
        <li>
          <a href="availability-management/agents/no-agents"> Manage agents: no agents in system</a>
       
           </li>
        </ul>

 

<h2 class="govuk-heading-s">
  Archived
 </h2>


<ul class="govuk-list govuk-list--bullet"> 

 <!--  <li>
    <a href="appointment/details">   Hawk appointments</a> 
 
     </li>

     <hr> -->
     <li>
      <a href="availability-management/availability/archived/existing-slots"> Previous v3 design</a> Add another pattern: setting to and from dates
   
       </li>



    

     <li>
      <a href="availability-management/availability/archived/agent-availability-added">Birds eye view</a>  Rota type design of unavilability
   
       </li>

       <li>
        <a href="availability-management/availability/archived/agent-availability-list.html">Alternate availability list view</a> Find an agent using filter
     
         </li>
      
</ul>



     

    </div>
  </div>


        </main>
      </div>


      {% endblock %}

