{% extends "layouts/main.html" %}



{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="../main-menu" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  
 

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "which-location",
        name: "which-location",
        fieldset: {
          legend: {
            text: "Which appointments do you want to manage?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Birmingham, Handsworth",
            text: "Birmingham, Handsworth"
          },
          {
            value: "London, Tresco House",
            text: "London, Tresco House"
          }
        ]
      }) }}

      <br><br>

      
      <a href="appointments"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
    </div>
  </div>

  </main>
</div>



{% endblock %}
